<div class="profile-sidebar" id="adjust_1">
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu padd-left">
    <ul class="nav">
      <li class="active"><a href="{% url 'user_profile' %}">Member Profile</a></li>
      {% if is_business %}
      <div  class="hidden-xs hidden-sm" style="margin: 0 0 0 20px;">
        <li><a href="/brochure-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Brochure</a></li>
        <li><a href="/wall-poster-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Wall Poster</a></li>
      </div>
      <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
      {% endif %}
	  
	 
      <li><a href="{% url 'password_change' %}">Change Password</a></li>
      <li><a href="{% url 'user_profile_notifications' %}">Notification Settings</a></li>
      <li><a href="{% url 'user_profile_delete' %}">Delete Account</a></li>
      <li><a href="{% url 'my_statistics' %}">My Skigistats</a></li>
    </ul>
  </div>
  <!-- END MENU -->
</div>