{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load category_list %}

<title>{{ user.first_name }} {{ user.last_name }} | Delete Account</title>

{% block content %}
  <div class="row profile white-back">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="profile-sidebar" id="adjust_2">
          <div class="profile-usermenu padd-left ">
            <ul class="nav">
              <li><a href="{% url 'user_profile' %}">Member Profile </a></li>
			  
			    {% if is_business %}	  
			   <div  class="hidden-xs hidden-sm" style="margin: 0 0 0 20px;">
					<li><a href="/brochure-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Brochure</a></li>
					<li><a href="/wall-poster-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Wall Poster</a></li>
				</div>
                <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
              {% endif %}
			  
              <!--<li><a href="{% url 'user_payment_setup' %}">Payment Setup </a></li>-->
              <li><a href="{% url 'password_change' %}">Change Password</a></li>
              <li><a href="{% url 'user_profile_notifications' %}">Notification Settings</a></li>
              <li class="active"><a href="{% url 'user_profile_delete' %}">Delete My Account</a></li>
              <li><a href="{% url 'my_statistics' %}">My Skigistats</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="profile-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row mar_zero profile-form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_bottom_10">
              <h3 class="mar margin_bottom_10 ">Delete My Account
              </h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_top_15">
              <form method="post" action="{% url 'user_profile_delete' %}">
                {% csrf_token %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4 class="sego word_space">

                    Deleting your account will delete all of the content you have created per our
                    <a href="/about-us/terms-of-service/" style="color: #3366ff">Terms of Service.</a> It will be
                    completely irrecoverable
                  </h4>
                </div>
				
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <p style="margin-bottom: 40px;font-size: 16px;"><input required="required" type="checkbox" name="delete-account" value="1" id="delete-account" style="display:inline;/* margin-bottom: 45px; */">&nbsp;&nbsp;&nbsp;I understand the consequences of deleting my account and give my permission to do so. </p>
                </div>
			
				
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_10 text-center">
                  <button type="submit" class="btn lg-btn" name="user_profile_delete">&nbsp;Delete&nbsp;</button>
                  <a href="{% url 'user_profile' %}" class="btn lg-btn">Keep My Account</a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
