{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block main_video_block %}
{% endblock %}

{% block window_page_title_block %}
Acceptable Use Policy - Skigit 
{% endblock %}

{% block window_page_meta_block %}
<meta property="og:site_name" content="Skigit" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://demo.mrphpguru.com/skigitdev/step-1/" />
<meta property="og:title" content="Acceptable Use Policy - Skigit" />
{% endblock %}

{% block head_inline_css_block %}
<style>
    .section-title {
        text-align: center !important;
    }   
</style>
{% endblock %}


{% block main_div_block %}
<div id="main"><div class="wrap cf">

        <div role="main" id="content">

            <div id="post-4062" class="post-4062 page type-page status-publish hentry">
                <h1 class="sageo">Acceptable Use Policy</h1>

                <div class="page-content rich-content">
                    
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;"><strong>Note:</strong> This Acceptable Use Policy is effective as of January 14, 2014.</span><br>
                        &nbsp;</p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">We want viewers to get as much enjoyment and information about your favorite things as possible in order to identify with the reasons you LIKE them so much, and we'd love to have your help in doing that. Because of the nature of Skigit in being a video sharing site for your FAVORITE things, naturally, we only allow you to share your positive and favorable opinions about the things you like. C'mon, it just wouldn't make sense for your to feel unfavorably about your favorite thing, would it? After all, this is planet earth.<br>
                        </span></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;"><br>
                            Therefore, you agree not to post User Content that:</span></p>
                   
                    <ul>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">in Skigit's sole determination, is beyond the fundamental objective of the website, which is; "to enable you to create your own video "skigits" about your favorite people, places, and things and share your fabulous experiences with friends and family."<br>
                            </span></li>
                        <li><span style="color: #333333;"><!-- [if gte mso 9]><xml><br />
                        <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true" DefSemiHidden="true" DefQFormat="false" DefPriority="99" LatentStyleCount="267"><br />
                        <w:LsdException Locked="false" Priority="0" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Normal"/><br />
                        <w:LsdException Locked="false" Priority="0" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="heading 1"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 2"/><br />
                        <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 4"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 5"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 6"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 7"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 8"/><br />
                        <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 9"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 1"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 2"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 3"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 4"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 5"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 6"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 7"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 8"/><br />
                        <w:LsdException Locked="false" Priority="39" Name="toc 9"/><br />
                        <w:LsdException Locked="false" Priority="0" Name="header"/><br />
                        <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/><br />
                        <w:LsdException Locked="false" Priority="10" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Title"/><br />
                        <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/><br />
                        <w:LsdException Locked="false" Priority="0" Name="Body Text"/><br />
                        <w:LsdException Locked="false" Priority="11" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/><br />
                        <w:LsdException Locked="false" Priority="22" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Strong"/><br />
                        <w:LsdException Locked="false" Priority="20" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/><br />
                        <w:LsdException Locked="false" Priority="59" SemiHidden="false" UnhideWhenUsed="false" Name="Table Grid"/><br />
                        <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/><br />
                        <w:LsdException Locked="false" Priority="1" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/><br />
                        <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/><br />
                        <w:LsdException Locked="false" Priority="34" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/><br />
                        <w:LsdException Locked="false" Priority="29" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Quote"/><br />
                        <w:LsdException Locked="false" Priority="30" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/><br />
                        <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/><br />
                        <w:LsdException Locked="false" Priority="19" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/><br />
                        <w:LsdException Locked="false" Priority="21" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/><br />
                        <w:LsdException Locked="false" Priority="31" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/><br />
                        <w:LsdException Locked="false" Priority="32" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/><br />
                        <w:LsdException Locked="false" Priority="33" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Book Title"/><br />
                        <w:LsdException Locked="false" Priority="37" Name="Bibliography"/><br />
                        <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/><br />
                        </w:LatentStyles><br />
                        </xml><![endif]--><!-- [if gte mso 10]></p>
                        <style>
                         /* Style Definitions */
                        table.MsoNormalTable
                        {mso-style-name:"Table Normal";
                        mso-tstyle-rowband-size:0;
                        mso-tstyle-colband-size:0;
                        mso-style-noshow:yes;
                        mso-style-priority:99;
                        mso-style-qformat:yes;
                        mso-style-parent:"";
                        mso-padding-alt:0in 5.4pt 0in 5.4pt;
                        mso-para-margin-top:0in;
                        mso-para-margin-right:0in;
                        mso-para-margin-bottom:10.0pt;
                        mso-para-margin-left:0in;
                        line-height:115%;
                        mso-pagination:widow-orphan;
                        font-size:11.0pt;
                        font-family:"Calibri","sans-serif";
                        mso-ascii-font-family:Calibri;
                        mso-ascii-theme-font:minor-latin;
                        mso-hansi-font-family:Calibri;
                        mso-hansi-theme-font:minor-latin;
                        mso-bidi-font-family:"Times New Roman";
                        mso-bidi-theme-font:minor-bidi;}
                        </style>
                        <p><![endif]--><span style="font-size: 12pt; font-family: 'Lao UI','sans-serif';">in Skigit's sole determination, may&nbsp;convey a negative sentiment or sensibility towards; or&nbsp;may have a negative&nbsp;impact&nbsp;on&nbsp;the people, places or things depicted in your skigit;</span></span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">is sexually explicit or pornographic;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">creates a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to yourself, to any other person, or to any animal;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">may create a risk of any other loss or damage to any person, business or property;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">violates, or encourages any conduct that violates laws or regulations;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">contains any information or content we deem to be hateful, violent, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party's trade secrets);</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">infringes any third party's Intellectual Property Rights, privacy rights, publicity rights, or other personal or proprietary rights;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; or</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">is fraudulent, false, misleading, or deceptive.</span></li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">You agree not to engage in any of the following prohibited activities:</span></p>
                    <ul>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Use, display, mirror or frame the Service, any individual element within the Service, the Skigit name, trademark, logo or other proprietary information, or the layout and design of any page, without our express written consent;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Attempt to probe, scan, or test the vulnerability of any Skigit system or network or breach any security or authentication measures;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Skigit or any of our providers or any other third party (including another user) to protect the Services or Skigit Content;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Attempt to access or search the Services, User Content or Skigit Content or scrape or download User Content or Skigit Content from the Services, or otherwise use, upload content to, or create new links, reposts, or referrals in the Service through the use of any engine, software, tool, agent, device or mechanism (including automated scripts, spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Skigit or other generally available third party web browsers;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Send any unsolicited or unauthorized spam and spam comments on posts, advertising messages, promotional materials, email, junk mail, chain letters or other form of solicitation;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Use the Service for any commercial purpose or the benefit of any third party, except as otherwise explicitly permitted for you by Skigit or in any manner not permitted by the Terms;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Use Skigit user information to forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services to send altered, deceptive or false source-identifying information;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Impersonate or misrepresent your affiliation with any person or entity;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Violate any applicable law or regulation;</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Request, collect or store username, password, token or any other account authentication information from other users; or</span></li>
                        <li><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Encourage or enable any other individual to do any of the activities prohibited in this Acceptable Use Policy.</span></li>
                    </ul>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">You may not run a contest or other type of promotion on Skigit</span></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Skigit reserves the right, but is not obligated, to remove any User Content for any reason or for no reason, including User Content that Skigit believes violates this Acceptable Use Policy or its&nbsp;Terms of Service. Skigit may also permanently or temporarily terminate or suspend a User account without notice and liability for any reason, including if, in Skigit's sole determination, a User violates any provision of this Acceptable Use Policy, our&nbsp;Terms of Service, or for no reason.</span></p>
                    <p>&nbsp;</p>
                    <p><!-- [if gte mso 9]><xml><br />
                    <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true" DefSemiHidden="true" DefQFormat="false" DefPriority="99" LatentStyleCount="267"><br />
                    <w:LsdException Locked="false" Priority="0" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Normal"/><br />
                    <w:LsdException Locked="false" Priority="0" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="heading 1"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 2"/><br />
                    <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 4"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 5"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 6"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 7"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 8"/><br />
                    <w:LsdException Locked="false" Priority="0" QFormat="true" Name="heading 9"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 1"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 2"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 3"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 4"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 5"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 6"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 7"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 8"/><br />
                    <w:LsdException Locked="false" Priority="39" Name="toc 9"/><br />
                    <w:LsdException Locked="false" Priority="0" Name="header"/><br />
                    <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/><br />
                    <w:LsdException Locked="false" Priority="10" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Title"/><br />
                    <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/><br />
                    <w:LsdException Locked="false" Priority="0" Name="Body Text"/><br />
                    <w:LsdException Locked="false" Priority="11" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/><br />
                    <w:LsdException Locked="false" Priority="22" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Strong"/><br />
                    <w:LsdException Locked="false" Priority="20" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/><br />
                    <w:LsdException Locked="false" Priority="59" SemiHidden="false" UnhideWhenUsed="false" Name="Table Grid"/><br />
                    <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/><br />
                    <w:LsdException Locked="false" Priority="1" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/><br />
                    <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/><br />
                    <w:LsdException Locked="false" Priority="34" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/><br />
                    <w:LsdException Locked="false" Priority="29" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Quote"/><br />
                    <w:LsdException Locked="false" Priority="30" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/><br />
                    <w:LsdException Locked="false" Priority="60" SemiHidden="false" UnhideWhenUsed="false" Name="Light Shading Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="61" SemiHidden="false" UnhideWhenUsed="false" Name="Light List Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="62" SemiHidden="false" UnhideWhenUsed="false" Name="Light Grid Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="63" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="64" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="65" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="66" SemiHidden="false" UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="67" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="68" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="69" SemiHidden="false" UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="70" SemiHidden="false" UnhideWhenUsed="false" Name="Dark List Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="71" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="72" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful List Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="73" SemiHidden="false" UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/><br />
                    <w:LsdException Locked="false" Priority="19" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/><br />
                    <w:LsdException Locked="false" Priority="21" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/><br />
                    <w:LsdException Locked="false" Priority="31" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/><br />
                    <w:LsdException Locked="false" Priority="32" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/><br />
                    <w:LsdException Locked="false" Priority="33" SemiHidden="false" UnhideWhenUsed="false" QFormat="true" Name="Book Title"/><br />
                    <w:LsdException Locked="false" Priority="37" Name="Bibliography"/><br />
                    <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/><br />
                    </w:LatentStyles><br />
                    </xml><![endif]--><!-- [if gte mso 10]></p>
                    <style>
                     /* Style Definitions */
                    table.MsoNormalTable
                    {mso-style-name:"Table Normal";
                    mso-tstyle-rowband-size:0;
                    mso-tstyle-colband-size:0;
                    mso-style-noshow:yes;
                    mso-style-priority:99;
                    mso-style-qformat:yes;
                    mso-style-parent:"";
                    mso-padding-alt:0in 5.4pt 0in 5.4pt;
                    mso-para-margin-top:0in;
                    mso-para-margin-right:0in;
                    mso-para-margin-bottom:10.0pt;
                    mso-para-margin-left:0in;
                    line-height:115%;
                    mso-pagination:widow-orphan;
                    font-size:11.0pt;
                    font-family:"Calibri","sans-serif";
                    mso-ascii-font-family:Calibri;
                    mso-ascii-theme-font:minor-latin;
                    mso-hansi-font-family:Calibri;
                    mso-hansi-theme-font:minor-latin;
                    mso-bidi-font-family:"Times New Roman";
                    mso-bidi-theme-font:minor-bidi;}
                    </style>
                    <p><![endif]--></p>
                </div>
            </div><!--end .hentry-->

        </div><!--end #content-->


        <div role="complementary" id="sidebar">
        </div><!--end #sidebar-->
    </div></div>
{% endblock %}
