{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block main_video_block %}
{% endblock %}

{% block window_page_title_block %}
    Copyright Policy - Skigit
{% endblock %}

{% block window_page_meta_block %}
    <meta property="og:site_name" content="Skigit" xmlns="http://www.w3.org/1999/html"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://skigit.com/step-1/" />
    <meta property="og:title" content="Business Value Services and Fees - Skigit" />
{% endblock %}

{% block head_inline_css_block %}
    <style>
        .section-title {
            text-align: center !important;
        }
    </style>
{% endblock %}


{% block main_div_block %}
    <div id="main">
    <div class="wrap cf">

    <div role="main" id="content">

        <div id="post-7319" class="post-7319 page type-page status-publish hentry">
            <h1 class="sageo">Business Value Services and Fees</h1>

            <div class="page-content rich-content">
                <div class="tbl_value">
                    <table class="table table-bordered table-nonfluid table-responsive">

                        <tr>
                            <th class="col-xs-1">Business Value Service</th>
                            <th class="col-xs-1">Fee (USD, $)</th>
                        </tr>


                        <tr>
                            <td><a href="#logo-monthly">Business Skigit Logo Monthly Maintenance</a></td><td>Free</td>
                        </tr>
                        <tr>
                            <td><a href="#skigit-monthly">Business Skigit Monthly Maintenance</a></td><td>Free</td>
                        </tr>
                        <tr>
                            <td><a href="#logo-ppc">Logo Click Thru (PPC)</a></td><td>0.29</td>
                        </tr><tr>
                            <td><a href="#skigit-web">Website Links Click Through</a></td><td>1.99</td>
                        </tr><tr>
                            <td><a href="#skigit-plugin">Skigit Plugin</a></td><td>0.29</td>
                        </tr><tr>
                            <td><a href="#skigit-post">Skigit Post</a></td><td>0.79</td>
                        </tr><tr>
                            <td><a href="#skigit-share">Skigit Share</a></td><td>0.49</td>
                        </tr><tr>
                            <td><a href="#skigit-embed-site">Skigit Embed (My Site)</a></td><td>49.0</td>
                        </tr><tr>
                            <td><a href="#skigit-embed">Skigit Embed (Skigit)</a></td><td>Free</td>
                        </tr>

                    </table>
                </div>
            </div><!--end .hentry-->
            <div class="para_value">
                <a name="logo-monthly" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Business Skigit Logo Monthly Maintenance</h2>
                <p>The monthly fee assigned to your account while your logo is uploaded into your profile page and available for promotion by a Skigit member.</p>
            </div>
            <div class="para_value">
                <a name="skigit-monthly" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Business Skigit Monthly Maintenance</h2>
                <p>The monthly fee assigned to each Skigit you create to promote your business and services. Normal Skigit pay per click fees shown in the fees table will apply based on usage. </p>
            </div>
            <div class="para_value">
                <a name="logo-ppc" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Logo Click-Through (Pay per click)</h2>
                <p>The fee assigned to your account each time a member clicks your business logo and is taken to your Skigit Business profile page.</p>

                <div class="boxservices_images">

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1  col-sm-5 col-sm-offset-0  col-xs-3 col-xs-offset-1">
                            <div class="img_ser">
                                <img src="{% static 'skigit/images/PPC1.png'%}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-1">
                            <div class="img_ser">
                                <img src="{% static 'skigit/images/arrow.png'%}" class="img_arrow">
                            </div>
                        </div>

                         <div class="col-lg-4 col-mg-4 col-sm-4 col-xs-3">
                             <div class="img_ser">
                                 <img src="{% static 'skigit/images/PPC.png'%}">
                             </div>
                        </div>
                    </div>
                 </div>


            </div>
            <div class="para_value">
                <a name="skigit-web" ></a>
                 <div class="para_value">
                 <h2  class="sageo" style="font-family: segoe_print !important">Website Links Click Through</h2>
                 <p>The fee assigned to your account each time a member clicks any one of the target external links specified in your profile page(Profile URL). This willdirect the viewer to external URLs that you specify to promote your business and services. This is optional and if you don’t specify any target links, you will not be charged fees</p>
                 </div>
                <!--- <table class="table table-borderless memberprofile_tbl">
                    <tr><td class="col-xs-1">Member Profile Input Page</td><td class="col-xs-1">Business Profile Page View</td></tr>
                    <tr><td><img src="{% static 'skigit/images/web-link.png'%}"/></td><td><img src="{% static 'skigit/images/web-view.png'%}" /></td></tr>
                </table> --->

                <div class="boxservices_images">

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1  col-sm-5 col-sm-offset-0  col-xs-8 col-xs-offset-3">
                            <p>Member Profile Input Page</p>
                            <div class="img_ser">
                                <img src="{% static 'skigit/images/web-link.png'%}"/>
                            </div>
                        </div>

                      <!----  <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-1">

                        </div> --->

                         <div class="col-lg-4 col-lg-offset-3 col-mg-4 col-md-offset-3 col-sm-4 col-sm-offset-3 col-xs-8 col-xs-offset-3">
                             <p>Business Profile Page View</p>
                             <div class="img_ser">
                                <img src="{% static 'skigit/images/web-view.png'%}" />
                             </div>
                        </div>
                    </div>
                 </div>

            </table>
            <div class="para_value">
                <a name="skigit-plugin" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important"><span>Skigit Plugin <img src="{% static 'skigit/images/plug-in.png' %}"></span> </h2>
                <p>The fee assigned to your account each time a member chooses to plugin to a Skigit that displays your logo.</p>
            </div>
            <div class="para_value">
                <a name="skigit-post" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Skigit View(Pay per view)</h2>
                <p>The fee assigned to your account each time a member or visitor chooses to view a Skigit that displays your business logo.</p>
            </div>
                <div class="para_value">
                <a name="skigit-post" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Skigit Post<img src="{% static 'skigit/detube/images/post.png' %}"></h2>
                <p>The fee assigned to your account each time a member posts a Skigit containing your logo toa social network through the Skigit POST feature.</p>
            </div>
            <div class="para_value">
                <a name="skigit-share" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Skigit Share<img src="{% static 'skigit/images/skigit-shares.png' %}"></h2>
                <p>The fee assigned to your account each time a member shares a Skigit that displays your business logo with another Skigit member.</p>
            </div>
            <div class="para_value">
                <a name="skigit-embed-site" ></a>
                <h2  class="sageo" style="font-family: segoe_print !important">Skigit Embed<img src="{% static 'skigit/detube/images/Embed_skigit.png' %}" width="35px;"></h2>
                <p>The fee assigned to your account each time thatyou opt to embed a Skigit into an external URL. Business Membersare allowed to click Embed icon as needed but will be only assessed a single flat rate for copying the embedded code for each Skigit.
                    There is no charge to embed a Skigit into Skigit Business Profile page.</p>
            </div>
            <div class="para_value">
                <a name="skigit-embed" ></a>
            </div>
        </div><!--end #content-->


        <div role="complementary" id="sidebar">
        </div><!--end #sidebar-->
    </div></div>
    </div>
    </div>
{% endblock %}