{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block main_video_block %}
{% endblock %}

{% block window_page_title_block %}
FAQ - Skigit
{% endblock %}

{% block window_page_meta_block %}
<meta property="og:site_name" content="Skigit" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://demo.mrphpguru.com/skigitdev/step-1/" />
<meta property="og:title" content="FAQ - Skigit" />
{% endblock %}

{% block head_inline_css_block %}
<style>
    .section-title {
        text-align: center !important;
    }
</style>
{% endblock %}


{% block main_div_block %}
<div id="main"><div class="wrap cf">

        <div role="main" id="content">

            <div id="post-4192" class="post-4192 page type-page status-publish hentry">
                <h1 class="sageo">FAQ</h1>

                <div class="page-content rich-content">
                    
                    
                   
                    <p><h3 class="sageo">1. What the heck is a skigit? &nbsp; &nbsp; <img width="33" height="33" alt="puzzle" src="{% static 'skigit/detube/images/puzzled.png' %}" style="position: relative;"> </h3></p>
                   
                    <p><span style="color: #333333;"><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">A skigit (pronounced ski'jit) is a member created video story of 3 minutes or less about something, someone or </span><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">someplace &nbsp;awesome that has special and&nbsp;positive&nbsp;</span><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">meaning to you.</span></span></p>
                    
                    <p><h3 class="sageo">2. How long can my skigit be?&nbsp; &nbsp; &nbsp; <img width="39" height="38" alt="clock" src="{% static 'skigit/detube/images/clock.png' %}" style="position: relative;"> </h3></p>
                    
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Three (3) minutes maximum with no limit on the short end, except that it must run T&gt;0 in the 3rd dimension.</span></p>
                    <p><h3 class="sageo">3.&nbsp;Is there any limit to how many skigits I can create? &nbsp; &nbsp; &nbsp; <img width="38" height="37" alt="limit" src="{% static 'skigit/detube/images/limit.png' %}"></h3></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">No. You can can create as many skigits as you'd like, just remember to keep the length within the 30MB limit. Linked videos can be as large as you want but we recommend no longer than 3 minutes.<br>
                        </span></p>
                    <p><h3 class="sageo">4. Which video formats can I create my skigit in?  &nbsp; &nbsp; &nbsp;<img width="49" height="43" alt="formats" src="{% static 'skigit/detube/images/format.png' %}"></h3></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #006699;"><span style="color: #333300;">Reference the Video Formats page located within the</span> <a target="_blank" href="http://skigit.com/guidelines/" title="Guidelines"><em><span style="color: #3366ff;">Guidelines </span></em></a><span style="color: #333300;">page on the menu tab at the top of your page.</span></span></p>
                    <p><h3 class="sageo">5. Why should I choose to display the logo of my product?  &nbsp; &nbsp; &nbsp;<img width="37" height="37" alt="Favorites" src="{% static 'skigit/detube/images/logo_faq.png' %}"></h3></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">By sharing the logo for your awesome thing, you are creating a personal and emotional connection between you, the maker of your awesome thing and your viewers.</span></p>
                    
                    <p><h3 class="sageo">6. &nbsp;Can I share my skigit with friends on other sites? &nbsp; &nbsp; &nbsp;<img width="51" height="34" alt="Favorites" src="{% static 'skigit/detube/images/share_faq.png' %}"></h3></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #333333;">Absolutely! You can post and share any skigit to other websites. If you prefer, you can even email them to family and friends. Heck, why not do all three! &nbsp;&nbsp;</span></p>
                    
                    <p><h3 class="sageo">7. Why are some logos on skigits larger than others? &nbsp; &nbsp; &nbsp;  <img width="51" height="34" alt="Favorites" src="{% static 'skigit/detube/images/Nike1.png' %}">&nbsp; &nbsp; <span style="font-size:14px; color:#006699 ">vs</span> &nbsp; &nbsp;   <img width="51" height="34" alt="Favorites" src="{% static 'skigit/detube/images/Nike2.png' %}"></h3></p>
                    <p><span style="color: #333333;"><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">The smaller logo depicts instances where the creator has chosen to display the logo but the maker is not a Skigit member. The larger logo depicts instances where the&nbsp;</span><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">skigit creator has chosen to incorporate the logo and the maker is a member and skigit supporter.</span></span></p>
                    <p><h3 class="sageo"> 8. What does it mean to plug-in to a skigit and what does it really do? &nbsp; &nbsp; &nbsp;<img width="70" height="37" alt="plug-in" src="{% static 'skigit/detube/images/plugin_faq.png' %}"></h3></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">By plugging into a skigits, you are connecting with other members on a personal and perhaps an emotional level to form a group which ultimately, creates a&nbsp;superskigit! Viewers can now select your skigit to view andfollow the adjoining skigits to get even more insight into your awesome thing. How cool is that!</span></p>
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #006699;"><em>For additional guidance, reference the <a href="http://skigit.com/guidelines/" title="Guidelines"><span style="color: #0000ff;"><em>Guidelines </em></span></a></em></span><em><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px; color: #006699;">page on the menu tab located at the top of your page.</span></em></p>
                 
                    <p><h3 class="sageo"> 9. What happens if I plug into a skigit and the Primary skigit get's deleted? </h3></p>
              
                    <p><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">If a Primary skigit gets deleted, by default you automatically plug-in to the next plugged-in skigit based on time of plug-in. You will then receive a notification and of </span><span style="font-family: 'LAO UI',arial,helvetica,sans-serif; font-size: 16px;">course, have the option to delete that plug-in connection on your <em><span style="color: #3366ff;"><span style="color: #006699;"><a target="_blank" href="http://skigit.com/plugged_in_skigits/" title="My Skigits">Skigits I Plugged Into</a>&nbsp;</span></span></em>page.</span></p>
                   
                    <p><b><b><b><b><b><b><img width="303" height="161" alt="plug-in" src="{% static 'skigit/detube/images/delete_primary.png' %}" class="aligncenter"></b></b></b></b></b></b></p>
                </div>
            </div><!--end .hentry-->

        </div><!--end #content-->


        <div role="complementary" id="sidebar">
        </div><!--end #sidebar-->
    </div></div>
{% endblock %}
