{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}


{% block window_page_meta_block %}
    <title>Change Password | Skigit </title>
    <meta name="description" content="Skigit" />
    <meta property="og:title" content="Skigit" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta name="description" content="Skigit"/>
    <meta property="og:site_name" content="Skigit"/>
    <meta property="og:description" content=""/>
    <meta itemprop="name" content="Skigit" />
    <meta itemprop="description" content="" />
    <meta name="description" content=  "Skigit"/>
    <meta name="keywords" content="" />
    <meta name="rating" content="Skigit"/>
    <meta name="Author" content="(c) Skigit"/>
{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
    <style>
        .f_type{
            font-family: segoe_print !important;
            width: 67%;
            font-size: 15px;
            margin-left: 180px !important;
            line-height:1.5;
        }
		
    </style>
    <script>
        $(document).ready(function(){
            function PasswordFormValidation() {
                $.validator.addMethod("notEqualTo", function(value, element, param) {
                    return this.optional(element) || value != $(param).val();
                }, "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your Current Password and New Password do not be same. Please try again.");

                $.validator.addMethod("oneuppercaseletter",
                    function(value, element) {
                        return /^(?=.*[A-Z])[0-9a-zA-Z_@./#&+-]{8,}$/.test( value );
                    },"<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password does not meet the minimum requirements. Please try again."
                );
                var profileForm = $("#pass_chang_form")

                errorLabelContainer: '#errors',
                    profileForm.validate({
                        rules: {
                            'new_password1': {
                                required:{
                                    depends: function () {
                                        $(this).val($.trim($(this).val()));
                                        return true;
                                    }
                                },
                                notEqualTo:'#id_old_password',
                                oneuppercaseletter: true,
                                minlength: 6,
                            },
                            'new_password2': {
                                required: true,
                                equalTo:'#id_new_password1'
                            }
                        },
                        messages: {
                            'old_password': {
                                required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Current Password is required",
                            },
                            'new_password1': {
                                required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> New Password is required",
                                minlength: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                                oneuppercaseletter: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                                notEqualTo:"<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your Current Password and New Password do not be same. Please try again."
                            },
                            'new_password2': {
                                required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Verify New Password is required",
                                equalTo: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password could not be verified. Please try again.",
                            },
                        }
                    });
                return profileForm.valid()
            }
            $('#form_submit').click(function() {
                $('#id_new_password1').attr( 'autocomplete', 'off' );
                $('#id_new_password2').attr( 'autocomplete', 'off' );
                PasswordFormValidation();
                $('.errorlist').show()
                $('#err_msg').show()
            });
        });
    </script>
    <div class="row mar_zero" id="main" style="min-height: 500px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
            {% if form %}
                {% csrf_token %}
                <h2 class="margin_top_15 sego word_space_2 text-center">Create New Password</h2>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
                    <div class="row mar_zero">
                        <form role="form"  autocomplete="off" id="pass_chang_form" method="post">
                                {% csrf_token %}
                            <div class="row mar_zero">
                                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd_zero">
                                    &nbsp;
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" id="user_register_type">
                                    {% csrf_token %}

                                    {% if form.non_field_errors %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group f_type">
                                                {% for err in form.non_field_errors %}
                                                    <div class="form_error_message">{{ err }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.errors %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group error_msg f_type">
                                                {% trans "Please correct the error below." %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="row mar_zero">
                                         <label class="pull-right">
                                            <span class="pull-right"></span>
                                            <span class="pull-right" style=" margin-top: 10px;">
                                               
                                            </span>
                                        </label>
                                    </div>

                                    <div class="row mar_zero">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="{{ form.new_password1.id_for_label }}">New Password&nbsp;&nbsp;&nbsp;
                                                    
                                                </label>
												<span class="pull-right">
                                                <span class="red" style="margin-left: -266px">*</span>
                                            </span>
                                                {{ form.new_password1|addcss:"form-control" }}
                                                {% if form.new_password1.errors %}
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                                                        {{ form.new_password1.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="{{ form.new_password2.id_for_label }}">Re-Type New password&nbsp;&nbsp;&nbsp;
                                                   
                                                </label>
												<span class="pull-right">
                                                <span class="red" style="margin-left: -202px">*</span>
                                            </span>
                                                {{ form.new_password2|addcss:"form-control" }}
                                                {% if form.new_password2.errors %}
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                                                        {{ form.new_password2.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mar_zero">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                                            <div class="form-group">
                                                <button type="submit" id="form_submit" class="btn">Submit</button>
                                                <a href="{% url 'index' %}" onclick="location.href = '/'" class="btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
                    <div class="row mar_zero">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_top_50">
                            <h4 class="text-center margin_top_50 f_type" >
                                Your password link is invalid or expired. Please check your email for a valid password link or attempt another reset.
                            </h4>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                                <a href="{% url 'index' %}" class="btn btnhome">&nbsp;Home&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock main_div_block %}
