\{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}


{% block window_page_meta_block %}
    <title>Password Changed Success| Skigit</title>
    <meta name="description" content="Password Changed Success" />
    <meta property="og:title" content="Skigit" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta name="description" content="Password Changed Success"/>
    <meta property="og:site_name" content="Skigit"/>
    <meta property="og:description" content="Password Changed Success"/>
    <meta itemprop="name" content="Skigit" />
    <meta itemprop="description" content="Password Changed Success" />
    <meta name="description" content=  "Password Changed Success"/>
    <meta name="keywords" content="Password Changed Success" />
    <meta name="rating" content="Skigit"/>

{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
<style>
        .f_type{
            font-family: segoe_print !important;
        }
    </style>
    <div class="row mar_zero" id="main" style="min-height: 500px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
                <div class="row mar_zero">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_top_50">
                        <h4 class="text-center margin_top_50 sego1" >
                            {% trans 'Congratulations! Your password was successfully changed.' %}
                        </h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_top_30">
                           <!-- <a href="{% url 'login_require' %}" class="btn btnhome">&nbsp;Login&nbsp;</a> -->
			    <a href="#" data-target="#smallModal" data-toggle="modal" class="btn btnhome">&nbsp;Login&nbsp;</a>
                            <a href="{% url 'index' %}" class="btn btnhome">&nbsp;Home&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main_div_block %}
