{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block window_page_title_block %}
    {%if category_current.cat_name %}
        {{category_current.cat_name}}
    {% elif category_current.sub_cat_name %}
        {{category_current.sub_cat_name}}
    {% elif skigit_plug %}
        Plugged Skigits into {{skigit_plug}}
    {% elif skigit_like %}
        Liked Skigits by {{skigit_like}}
    {% else %}
        Skigits by {{category_current}}
    {% endif %}
{% endblock %}
{% block main_div_block_middel_content %}
{% endblock%}
{% block main_video_block %}
{% endblock %}
{% block main_div_block_video_list_content %}

    <style>

        .close-skigit {
            z-index: 1 !important;
        }
        center.heading-new{
            /*color:#037bb8 !important;*/
			color:#000000 !important;
        }
        .del-top p{
            font-size: 16px;
            font-weight: 100;
            text-align: center;
        }
        .endless_more { font-size: x-large; }
        .endless_more{ display: table; margin: 0 auto; clear: both; }
        .endless_loading {
            display: table;
            width: 100%;
        }

        .follower-header{
            background: transparent !important;
            border: none !important;
        }

        .f_type{
            font-family: Segoe_Print !important;
        }

        .name_friend {
            margin-bottom: 10px;
            margin-top: 10px;

        }
        .follower_img {
            margin-bottom: 5px;
            background: #0a80be;
            padding:35px 10px;
        }

        .follower_img img {
            border: 1px solid #a79e9e;
            border-radius: 5px;
            height: 100px;
            width: 100px;
            max-width: 100%;
        }
        .box_img_container {
            text-align: center;
            border: 1px solid #b9afaf;
            background-color: #fff;
            box-shadow: 0 0 10px gray;
            border-radius: 5px;
        }
        .icon_follower {
            height: 20px;  position: relative;
            line-height: 1;
        }
        .icon_follower img {
            position: absolute;
            right: -10px;
            bottom: -5px;
        }
        .box_follow {
            width: 180px;
            float: left;
            margin: 10px;
        }
        .box_img_container:hover {
            box-shadow: 0 0 6px #64b5f6;
        }

        .heade_follow {
            font-size: 17px;
            color: #0a80be;
        }

        .name_follow span {
            display: block;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-family:segoe_print !important
        }
        .box_footer{
            font-family:segoe_print !important;
            color: #0a80be;
            font-size: 16px;
        }

        .sub_namefollow {
            color: #0a80be;
            font-size: 13px;
        }
		.subhead 
		{   
		font-weight: normal !important; 
		}

        .user_followers {
            font-size: 13px;
        }

        @media screen and (max-width: 420px) {
            .box_follow {
                width: 90%;
            }
        }
        @media screen and (min-device-width: 1200px) and (max-device-width: 992px){}

    </style>

    <script>
        $z = jQuery.noConflict()
        function close_skigit(vid_id){
            $z("#confirmBox").addClass('open');
            $z(".overlay").addClass('open');
            {#            current_id = $(this).closest('[data-skigt]').attr('data-skigt');#}
            current_id = vid_id
            $z("#confirmBox").attr('c_id',current_id);
        }
    </script>

    <script>

        $z(function($){

            $("#no_delete_{{video_type}}").click(function(){
                $("#confirmBox").removeClass('open');
                $(".overlay").removeClass('open');
            });

            $("#ok_delete_{{video_type}}").click(function(){
                {% if video_type == "liked" %}
                    var skigit_id = $('#like_'+current_id).attr('data-pid');
                    $.ajax({
                        type: "POST",
                        url: "/skigit_i_unlike/",
                        data: {'skigit_id': skigit_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {},
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into Skigit i like Please try again");
                            $("#popScreen").show();
                        }
                    });
                {% elif video_type == "fav" %}
                    var skigit_id = $('#fav_'+current_id).attr('data-fav');
                    $.ajax({
                        type: "POST",
                        url: "/un_favourites/",
                        data: {'skigit_id': skigit_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {},
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into My Favourite Skigit Page...! Please try again");
                            $("#popScreen").show();
                        }
                    });
                {% elif video_type == "i_am_following" %}
                    var follow_id = current_id

                    $.ajax({
                        type: "POST",
                        url: "/unfollow/",
                        data: {'follow_id': follow_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {},
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into Unfollow - I'm Following Page...! Please try again");
                            $("#popScreen").show();
                        }
                    });
                {% elif video_type == "plugged" %}
                    $.ajax({
                        type: "POST",
                        url: "/unplug-skigit/",
                        data: {'skigit_unplug_id': current_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {},
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into Unplug Skigit - I'm Following Page...! Please try again");
                            $("#popScreen").show();
                        }
                    });

                {% endif %}
                $("[data-skigt="+current_id+"]").css("display", "none");
                $("#confirmBox").removeClass('open');
                $(".overlay").removeClass('open');
            });
        });

    </script>

    <script>
        $j = jQuery.noConflict()
        $j(document).ready(function($){
            like_unlike_skigit_plug_into = function(like_class, like_id) {

                var skigit_id = like_id
                var  post_clas= $("#"+like_class).attr('class');
                var  post_id= like_class
                var  like_count = $.trim($('#like_count'+skigit_id).text())
                {% if video_type == "liked" %}
                    $("[data-skigt="+skigit_id+"]").css("display", "none");
                    $(".overlay").removeClass('open');
                {% endif %}
                if(post_clas == 'unlike') {
                    $.ajax({
                        type: "POST",
                        url: "/skigit_i_like/",
                        data: {'skigit_id': skigit_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {
                            if (response.is_success)
                            {
                                if (response.like == 1 || response.like == '1')
                                {
                                    $("#" + post_id).attr("title", "Unlike");
                                    $("#" + post_id).removeClass("unlike");
                                    $("#" + post_id).addClass("like");
                                    $("#" + post_id + "> img").attr("src", "/static/skigit/images/heart_liked(22x22).png");
                                    $('#like_count'+skigit_id).text(parseInt(like_count)+1)
                                }
                            }
                        },
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into like the Skigit...! Please try again");
                            $("#popScreen").show();
                        }
                    });
                }
                else if(post_clas == 'like'){
                    $.ajax({
                        type: "POST",
                        url: "/skigit_i_unlike/",
                        data: {'skigit_id': skigit_id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
                        success: function (response) {
                            if (response.is_success)
                            {
                                if (response.unlike == 1 || response.unlike == '1')
                                {
                                    $("#" + post_id).attr("title", "Like");
                                    $("#" + post_id).removeClass("like");
                                    $("#" + post_id).addClass("unlike");
                                    $("#" + post_id + "> img").attr("src", "/static/skigit/images/heart(22x22).png");
                                    $('#like_count'+skigit_id).text(parseInt(like_count)-1)
                                }
                            }
                        },
                        error: function (rs, e) {
                            $("#popup_msg").text("Error into like the Skigit...! Please try again");
                            $("#popScreen").show();
                        }
                    });
                }
            }
        });
    </script>

    <div class="nag cf" id="likedcontent">
        {% if video_detail %}
            {% if video_type == "liked" %}
                <center class="heading-new-seg heading-new" >Skigits I like</center>
            {% elif video_type == "plugged" %}
                <center class="heading-new-seg heading-new">Skigits I Plugged Into</center>
            {% elif video_type == "fav" %}
                <center class="heading-new-seg heading-new">My Favorites</center>
            {% elif video_type == "sub_cat" %}
                <center class="heading-new-seg heading-new">{{category_current}}</center>
            {% elif video_type == "c_o_skigit" %}
                <center class="heading-new-seg heading-new">Creators other Skigit!</center>
            {% elif video_type == "i_am_following" %}
                <center class="heading-new-seg heading-new">I'm Following</center>
            {% endif %}
            <div class="section-box">
            <div class="section-content grid-small">
            <div class="overlay"></div>
            <div id="confirmBox">
                <center><p><img src="{% static 'skigit/images/logo.png' %}" width="65px;" height="50px;"/></p></center>
                {% if video_type == "liked" %}
                    <div class="del-top"><strong><p class="popup-noti">Are you sure you want to Unlike this Skigit?</p></strong></div>
                {% elif video_type == "plugged" %}
                    <div class="del-top"> <strong><p class="popup-noti">Are you sure you want to Unplug this Skigit?</p></strong></div>
                {% elif video_type == "fav" %}
                    <div class="del-top"> <strong><p class="popup-noti">Are you sure you want to Unfavorite this Skigit?</p></strong></div>
                {% elif video_type == "sub_cat" %}
                    <div class="del-top"><strong><p class="popup-noti">Are you sure you want to Delete this skigit?</p></strong></div>
                {% elif video_type == "i_am_following" %}
                    <div class="del-top"><strong><p class="popup-noti">Are you sure you want to Unfollow this Creator?</p></strong></div>
                {% endif %}
                <div class="del-bott">
                    <button type="button" id="ok_delete_{{ video_type }}">Yes</button>
                    <button type="button" id="no_delete_{{ video_type }}">Cancel</button>
                </div>
            </div>
            {% if video_type == "i_am_following" %}
                {% include 'sk_cat/i_am_following_body.html' %}
            {% else %}
                {% include 'sk_cat/../../../templates/personal/skigit_plugged_body.html' %}
            {% endif %}
        {% else %}
            {% if video_type == "liked" %}
			 <center class="heading-new-seg heading-new" >Skigits I like</center>
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% elif video_type == "plugged" %}
			 <center class="heading-new-seg heading-new">Skigits I Plugged Into</center>
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% elif video_type == "fav" %}
				<center class="heading-new-seg heading-new">My Favorites</center>
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% elif video_type == "sub_cat" %}
			<center class="heading-new-seg heading-new">{{category_current}}</center>
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% elif video_type == "my_skigit" %}
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% elif video_type == "i_am_following" %}
			<center class="heading-new-seg heading-new">I'm Following</center>
                <center class="heading-new-seg subhead">No Skigits found</center>
            {% endif %}
        {% endif %}
        </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'skigit/js/pageUp.js' %}"></script>
    <a id="latestinifiniteLoader" style="float:left;display:none;margin:5px 425px">
        <img src="{% static 'skigit/detube/images/inf_loading.gif' %}" />
    </a>
{% endblock %}
