{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Acceptable Use Policy{% endblock %}

{% block main-header-block %}
    {% if not mobile_api_request %}
        {{ block.super }}
    {% endif %}
{% endblock main-header-block %}

{% block content %}

  <style>
  
  ul {
      list-style-type: circle;
}
   </style>
  <div class="row"  id="main">
    <div class="wrap cf">

      <div role="main" id="content">

        <div id="post-4062" class="post-4062 page type-page status-publish hentry">
	
          <h1 class="sageo" style="text-align: center;">Acceptable Use Policy</h1>

          <div class="page-content rich-content">

            <p><strong>Note:</strong> This Acceptable Use Policy is effective as of January 14, 2014.</p>
            <p>We want viewers to get as much enjoyment and information about your favorite things as possible in order
              to identify with the reasons you LIKE them so much, and we'd love to have your help in doing that. Because
              of the nature of Skigit in being a video sharing site for your FAVORITE things, naturally, we only allow
              you to share your positive and favorable opinions about the things you like. C'mon, it just wouldn't make
              sense for your to feel unfavorably about your favorite thing, would it? After all, this is planet
              earth.
              </p>
            <p>Therefore, you agree not to post User Content that:</p>

            <ul>
              <li>in Skigit's sole determination, is beyond the fundamental objective of the website, which is; "to
                enable you to create your own video "skigits" about your favorite people, places, and things and share
                your fabulous experiences with friends and family."<br>
              </li>
			  <br>
              <li>in Skigit's sole determination, may convey a negative sentiment or sensibility towards; or may
                have a negative impact on the people, places or things depicted in your skigit;
              </li>
			  <br>
              <li>is sexually explicit or pornographic;
              </li>
			  <br>
              <li>creates a risk of harm, loss, physical or mental injury, emotional distress, death, disability,
                disfigurement, or physical or mental illness to yourself, to any other person, or to any animal;
              </li>
			  <br>
              <li>may create a risk of any other loss or damage to any person, business or property;
              </li>
			  <br>
              <li>seeks to harm or exploit children by exposing them to inappropriate content, asking for personally
                identifiable details or otherwise;
              </li>
			  <br>
              <li>violates, or encourages any conduct that violates laws or regulations;
              </li>
			  <br>
              <li>contains any information or content we deem to be hateful, violent, harmful, abusive, racially or
                ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights,
                harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or
                otherwise objectionable;
              </li>
			  <br>
              <li>contains any information or content that is illegal (including, without limitation, the disclosure of
                insider information under securities law or of another party's trade secrets);
              </li>
			  <br>
              <li>infringes any third party's Intellectual Property Rights, privacy rights, publicity rights, or other
                personal or proprietary rights;
              </li>
			  <br>
              <li>contains any information or content that you do not have a right to make available under any law or
                under contractual or fiduciary relationships; or
              </li>
			  <br>
              <li>is fraudulent, false, misleading, or deceptive.
              </li>
            </ul>
            <p>&nbsp;</p>
            <p>You agree not to engage in any of the following prohibited activities:
            </p>
            <ul>
              <li>Use, display, mirror or frame the Service, any individual element within the Service, the Skigit name,
                trademark, logo or other proprietary information, or the layout and design of any page, without our
                express written consent;
              </li>
			  <br>
              <li>Access, tamper with, or use non-public areas of the Service, our computer systems, or the technical
                delivery systems of our providers;
              </li>
			  <br>
              <li>Attempt to probe, scan, or test the vulnerability of any Skigit system or network or breach any
                security or authentication measures;
              </li>
			  <br>
              <li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological
                measure implemented by Skigit or any of our providers or any other third party (including another user)
                to protect the Services or Skigit Content;
              </li><br>
              <li>Attempt to access or search the Services, User Content or Skigit Content or scrape or download User
                Content or Skigit Content from the Services, or otherwise use, upload content to, or create new links,
                reposts, or referrals in the Service through the use of any engine, software, tool, agent, device or
                mechanism (including automated scripts, spiders, robots, crawlers, data mining tools or the like) other
                than the software and/or search agents provided by Skigit or other generally available third party web
                browsers;
              </li>
			  <br>
              <li>Send any unsolicited or unauthorized spam and spam comments on posts, advertising messages,
                promotional materials, email, junk mail, chain letters or other form of solicitation;
              </li>
			  <br>
              <li>Use the Service for any commercial purpose or the benefit of any third party, except as otherwise
                explicitly permitted for you by Skigit or in any manner not permitted by the Terms;
              </li>
              <li>Use Skigit user information to forge any TCP/IP packet header or any part of the header information in
                any email or newsgroup posting, or in any way use the Services to send altered, deceptive or false
                source-identifying information;
              </li>
			  <br>
              <li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide
                the Services;
              </li>
              <li>Interfere with, or attempt to interfere with, the access of any user, host or network, including,
                without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;
              </li>
			  <br>
              <li>Collect or store any personally identifiable information from the Services from other users of the
                Services without their express permission;
              </li>
			  <br>
              <li>Impersonate or misrepresent your affiliation with any person or entity;
              </li>
			  <br>
              <li>Violate any applicable law or regulation;
              </li>
			  <br>
              <li>Request, collect or store username, password, token or any other account authentication information
                from other users; or
              </li>
			  <br>
              <li>Encourage or enable any other individual to do any of the activities prohibited in this Acceptable
                Use Policy.
              </li>
            </ul>
            <p>You may not run a contest or other type of promotion on Skigit
            </p>
            <p>Skigit reserves the right, but is not obligated, to remove any User Content for any reason or for no
              reason, including User Content that Skigit believes violates this Acceptable Use Policy or its Terms of
              Service. Skigit may also permanently or temporarily terminate or suspend a User account without notice
              and liability for any reason, including if, in Skigit's sole determination, a User violates any
              provision of this Acceptable Use Policy, our Terms of Service, or for no reason.
            </p>
          </div>
        </div><!--end .hentry-->

      </div><!--end #content-->


      <div role="complementary" id="sidebar">
      </div><!--end #sidebar-->
    </div>
  </div>
{% endblock %}
