{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Making Your Skigit{% endblock %}

{% block main-header-block %}
    {% if not mobile_api_request %}
        {{ block.super }}
    {% endif %}
{% endblock main-header-block %}

{% block content %}
  <div class="row mar_zero" id="main">
    <div class="wrap cf">

      <div role="main" id="content main-fnt-mch" style="margin: 5px;">

        <div id="post-7692" class="post-7692 page type-page status-publish hentry">
          <h1><center>Making Your Skigit</center></h1>
          <div class="page-content rich-content">
            <p>We want to know about you and so do others. Make your Skigit be an accurate expression of you and the
              things you want others to know about you. Making a Skigit is a no-brainer - just follow these easy steps
              and your on your way to Skigit fame!</p>
            <br>
			<br>
            <h2>Arm yourself with a Video Camera,
              Smartphone or even a Webcam</h2>
            <p>Keep your video camera and smartphone handy wherever you go. Skigits are best made when you least expect
              it…in you favorite restaurant, while your out visiting with family and friends, while using your favorite
              thing or while on vacation when feel awe-inspired by the location, surroundings or vista.&nbsp;</p>
            <br>
			<br>
            <h2>Put together a quick script or
              not</h2>
            <p>Some may choose to script out their Skigit and that&rsquo;s just fine. But Skigits can be way cool when
              you create them totally unscripted, off-the-cuff, spur of the moment, shooting from the hip, throwing
              caution to the wind…</p>
            <br>
			<br>
            <h2>Don&rsquo;t forget to show us your
              favorite thing</h2>
            <p>Skigits are all about sharing your favorite people, places and things so whatever you do, don&rsquo;t
              forget to talk about, put the focus on your favorite thing. After all, isn't that what you want others to see?</p>
            <br>
			<br>
			
		<h1 class="sageo" >How long should my Skigit run?</h1>
		  <div class="page-content rich-content" >
          <p>Many people may weigh the pros and cons of using different length Skigits however, we’ve decided to provide
            you guidelines that will give you some idea on which Skigit run length may work best for you.</p>
          <p>Note that only uploaded Skigits of 20MB or less are allowed. <strong>YouTube Linked Skigits </strong>can be
            as long as you wish but we recommend no longer than 3 minutes.</p>
          <br>
          <!--<span class="imgLeft"><img src="/static/images/Hour_Glass.gif" width="150" height="150" alt=""/></span>-->
          <h3 style="font-weight:bold">Why 45 seconds or less?</h3>
          <div class="clearfix"></div>
		  <div class="page-content rich-content" style="line-height: 2.0;">
          <li>Over before rude audiences can make an escape</li>
          <li>Still long enough to make a mighty fine impression</li>
          <li>A good way to quickly piggy-back your Skigits</li>
          <li>Better in reaching the masses</li>
          <li>Can be highly effective in terms of recall</li>
          <li>More focused and rational in execution (i.e. more information about your awesome thing)</li>
          <li>Good for easy-to-explain things</li>
          <li>Suited to the limited modern attention span of gadget junkies</li>
          <li>Good for quick demonstrations</li>
          <li>Long enough to be noticed even in fast-forward mode</li>
		    <br>
		    <br>
            <h2>Watch this example of a Skigit - one
              we simply love!</h2>
            <br>
			
          </div>
          <p>
            <iframe id="making_skigit_iframe" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"
                    src="https://www.youtube.com/embed/tqWDgQnjUzI?wmode=transparent"></iframe>
          </p>

          <br>
          <br>

        </div><!--end .hentry-->

      </div><!--end #content-->


      <div role="complementary" id="sidebar">
      </div><!--end #sidebar-->
    </div>
  </div>

{% endblock %}
