{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Skigitology{% endblock %}

{% block main-header-block %}
    {% if not mobile_api_request %}
        {{ block.super }}
    {% endif %}
{% endblock main-header-block %}

{% block content %}
  <div class="row mar_zero" id="main">
    <div class="wrap cf">
      <div id="content" role="main">
        <div class="post-5969 page type-page status-publish hentry" id="post-5969">
          <div class="page-content rich-content innerPageContent img-up" style="margin: 5px;">
            <h1>
              <center>The Art of Skigit</center>
            </h1>
            <p>Ski&#8217;·jit·ol·o·gy, Ski&#8217;·jitˈäləjē/noun, plural, informal, humorous: Skigitologies; a subject
              of study or a branch of knowledge in Skigit. Whether you’re new to Skigit or want a refresher, we're here to
               help you understand Skigit terminology.</p>
            <br>
			<!--<span style="color: #3366ff;">Rules for Your Company Skigit</span>-->
	
            <p style="text-align: center;"><a href="#primaryskigit" style="color: #3366ff;" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';" >Primary Skigit</a> | <a href="#plugin_skigit" style="color: #3366ff"onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Plugin
              Skigit</a> | <a href="#superskigit" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Superskigit</a> | <a href="#s" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">SkitBits</a> | <a href="#home_page" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';  " onmouseout="this.style.backgroundColor='#ffffff';">Home Page</a> | <a href="#following" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Following Skigit Creators</a> | <a href="#sharing" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Sharing Skigits</a></p>
            <p style="text-align: center;"><a href="#Creator" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">View a Creator&#8217;s Skigits</a> | <a href="#Favorites" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Add
              to Favorites</a> | <a href="#Posting" style="color: #3366ff"onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Posting Skigits to your Favorite Social Network</a> | <a
                href="#finding_skigits" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Finding Skigits</a> | <a href="#awesomethings" style="color: #3366ff" onmouseover="this.style.backgroundColor='#edf9ff';" onmouseout="this.style.backgroundColor='#ffffff';">Your Awesome Things</a></p>
            <br>
            <hr/>
            <p><a name="primaryskigit"></a></p>
            <span class="imgLeft"><img src="/static/images/Primary_Skigit_Icon_Skigitology Page.gif"
                                       alt="Primary Skigit" width="165" height="115" ></span>
            <h3><br>Primary Skigit</h3>
            <div class="clearfix"></div>
            <p><br>A Primary Skigit is an influential, ground-breaker &#8230;the trend-setter, if you will. It's the
              kind of Skigit others can&#8217;t wait to plug into and it&#8217;s the source of every Superskigit. The
              Primary typically creates a lasting impression with the ability to grab viewers and not let go, no matter how
              hard they try to shake loose.</p>
            <br>
            <hr/>
            <span class="imgLeft" &nbsp;><img src="/static/images/Plugin Skigit Icon_ Skigitology Page.gif"
                                              alt="Plugin Skigit" width="165" height="115" ></span>
            <h3><a name="plugin_skigit"></a><br>Plugin Skigit</h3>
            <div class="clearfix"></div>
            <p><br>The Plugin Skigit is a way for you to connect with others through your Skigit when you share an
              interest in the same thing. It&#8217;s a way for you to join a group of like-minded creators. Our rule of
              thumb - if you like it, plug-in and show 'em what you got.</p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/Superskigit Icon_ Skigitology Page.gif"
                                       alt="Superskigit" width="155" height="125"></span>
            <h3><a name="superskigit"></a><br>Superskigit</h3>
            <div class="clearfix"></div>
            <p><br>The amazing Superskigit! The Primary Skigit appears out of nowhere, suddenly Plugins start to attach
              - the Superskigit emerges, a potentially unending train of connected Skigits with a Primary at the helm!
              &#8230; a bit much? We don&#8217;t think so.</p>
            <br>
            <hr/>
              <span class="imgLeft">
              <img src="/static/images/animation/50/Skitbit_4x4.gif" width="150" height="150" %}" style="Margin-top:-30px;"/></span>
            <h3><a name="skitbits"></a><br>Skitbit Rewards</h3>
            <div class="clearfix"></div>
            <p><br>Do you like scavenger hunts? Earn awesome rewards from makers just for uploading a Skigit of your
              favorite thing and displaying the makers logo! When you see a company logo displayed on a Skigit
              thumbnail, click it to find out what that company is offering Skigit creators. You can also click the
              Skitbits icon in the header menu or on the Skigit upload page after selecting the maker in the "My awesome
              thing was made by" drop-down. It&#8217;s just another cool way to enjoy Skigit!</p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/logo_glow_2.png" alt="Home Page" width="180" %}" style="margin-top:20px;"/></span>
            <h3><br><a name="home_page"></a>Home Page</h3>
            <div class="clearfix"></div>
            <p><br>When you first log in, you’ll land on the site home page. This is a collection of all Skigits on the
              site, and it updates every time a new Skigit is added. This is your home base so whenever you navigate
              away then want to find this page again, just click the Skigit logo to return home.</p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/animation/50/follow.gif" width="120" height="120" %}" /></span>
            <h3><a name="following"></a><br>Follow Skigit Creators</h3>
            <div class="clearfix"></div>
            <p><br>Following people will enhance your Skigit experience by helping you stay close to the creators whose
              style and taste you best identify with. Discover the myriad of people that are creating Skigits and start
              following those you like. It&#8217;s all about what you like, not just who you know - so if you come
              across a Skigit you like, follow it&#8217;s creator and receive notifications to stay in touch with all of their latest works.</p>
            <p>Click the Follow logo in the Skigit viewing page to follow all of their current and
              future Skigits.</p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/animation/50/Friends_4x4.gif" width="120" height="120" %}" /></span>
            <h3><a name="sharing"></a><br>Sharing Skigits</h3>
            <div class="clearfix"></div>
            <p><br>Skigit offers an easy way to share your favorite Skigits with anyone you choose. Sharing is an ideal
              way to tell your friends and family about the things you love. You&#8217;ll be able to locate this icon in
              every Skigit thumbnail and by clicking on the View icon in the Skigit view pop-up window located
              underneath the video frame on the right-hand side.</p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/eye.gif" width="120" height="110" %}" /></span>
            <br>
            <h3><a name="Creator"></a>View Creator Skigits</h3>
            <div class="clearfix"></div>
            <p><br>Connecting with others is not always that easy. At Skigit, we give you the ability to view the work
              of your favorite creators simply by clicking on the View icon in the Skigit pop-up window. You&#8217;ll
              find this icon located underneath the video frame. Click on it and see the creator&#8217;s great work!</p>
            <hr/>
              <span class="imgLeft">
              <img src="/static/images/favorites.gif" width="150" height="150" %}" /></span>
            <br>
            <h3><a name="Favorites"></a>Add to Favorites</h3>
            <div class="clearfix"></div>
            <p>See a Skigit you just can&#8217;t get enough of? Add it to your favorites page! You find this icon by
              clicking on the View icon in the Skigit view popup window located underneath the video screen on the
              right-hand side. Click on it and you&#8217;ll never have to remember where you saw it. From then on, just go to your My Favorites page through via the header drop down menu, <strong>My
                Favorites</strong>.</p>
            <br>
            <hr/>
            <span class="imgLeft" style=" padding-left:0px;"><img src="/static/images/SN Post Icons.gif"
                                                                  alt="Favorites" width="165" height="95"/> </span>
  
            <h3><a name="Posting" ></a>Posting Skigits to your Social Accounts</h3>
            <div class="clearfix"></div>
            <p><br>Post to the max! We encourage you to post any Skigit on other social sites. We will
              continuously update your ability to post to other sites as site APIs change so if we aren&#8217;t providing you that ability,
              we wanna hear from you.</p>
            <hr/>
            <span class="imgLeft"><img src="/static/images/Search_4x4.gif" width="150" height="150"/></span>
            <br>
            <br>
            <h3><a name="finding_skigits"></a>Finding Skigits</h3>
            <div class="clearfix"></div>
            <p><br>To find Skigits, just do a quick search by clicking the search icon in the header menu.
              You can use the search feature to locate Skigits by title, creator user name or company name. But wait,
              That's not all! You can also browse category pages or find your awesome thing in the Awesome Things page.
              One way or another, we'll help you find what you're looking for. </p>
            <br>
            <hr/>
            <span class="imgLeft"><img src="/static/images/Chest_4x4.gif" width="150" height="150"/></span>
            <br>
    
            <h3><a name="awesomethings"></a><br>Your Awesome Things</h3>
            <div class="clearfix"></div>
            <p><br>Looking for ideas for your next family getaway but don’t have a destination in mind yet? Thinking
              about starting a new hobby? Or maybe you&#8217;re just looking to buy Momar a new chew toy. The <a
                href="{% if mobile_api_request %}{% url 'share_deeplink_view' %}?category=SKIGIT{% else %}{% url 'awesome_things' %}{% endif %}" style="color: #3366ff">Your Things </a>page lets
              you browse all the awesome things featured in Skigits throughout the site by all users. </p>
            <ul>
              <li>Animals and Pet Things</li>
              <li>Apparel, Clothing, Accessories and Fashion</li>
              <li>DIY, Hobby and Crafts
              <li>etc.</li>
            </ul>
            </p>
            <br>
            <!--<hr/>
            <span class="imgLeft"><img src="/static/images/member_profile.gif" width="300" height="400"/></span>
            <h3><a name="account"></a><br><br>Creating your Profile</h3>
            <div class="clearfix"></div>
            <br>
            <p>Create your own personal profile on Skigit. Just click the drop down list in the upper right hand corner
              of the header of any page (below your avatar image). Click Profile and Settings to edit your profile
              information entered at the time of registration. You can change your user information, add personal photos
              or any other profile attributes whenever you wish. Access notifications, change your password and view
              your statistics at the touch of a mouse click. </p>
            <hr/>-->
            <p>We hope this helps you get going! Email us for help at <a
                href="mailto:info@skigit.com" style="color: #3366ff">info@skigit.com</a></p>
          </div>
        </div>
        <!--end .hentry-->

      </div>
      <!--end #content-->

    </div>
  </div>
{% endblock %}
