{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Skigit for Your Business{% endblock %}

{% block main-header-block %}
    {% if not mobile_api_request %}
        {{ block.super }}
    {% endif %}
{% endblock main-header-block %}

{% block head_inline_css_block %}
  <style>

    .img_center {
      text-align: center !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row mar_zero" id="main">
    <div class="wrap cf">

      <div role="main" id="content">
        <p class="text-center">
          <a href="{% if mobile_api_request %}{% url 'share_deeplink_view' %}?category=SKIGIT{% else %}{% url 'register_type' %}{% endif %}"><img width="250" height="150" alt="" src="/static/images/Register.gif" class="aligncenter"></a></p>
        <br>
        <br>
        <div id="post-5849" class="post-5849 page type-page status-publish hentry">
          <h1 class="sageo text-center" >
            Skigit for Your Business!
          </h1>
         <div class="page-content rich-content">
            <br>
            <br>
           <h2 class="sageo" style="text-align:center;  margin: -50px 0 -0px 0!important;">Take your Company absolutely <strong>VIRAL<strong style="font-weight:normal"> with Skigit! <!-- <img src="https://static.skigit.com/images/logo_glow_2.png" alt="Skigit logo" style="transform: scale(.6);margin-left: -50px;">--></h2>
            <br>
			 <br>
             {% if mobile_api_request %}
                 <div class="row" style="text-align: center;">
                     <div class="col-lg-7">
                         <a target="_blank" href="{% if mobile_api_request %}{% url 'aboutus_api_url:business_value_services_fees_api' %}{% else %}{% url 'about_us_url:business_value_services_fees' %}{% endif %}" title="Business Services and Fees"><span style="color: #3366ff;">Business Services and Fees</span></a>
                     </div>
                     <div class="col-lg-3">
                         <a target="_blank" href="{% if mobile_api_request %}{% url 'aboutus_api_url:rules_company_skigit_api' %}{% else %}/about-us/rules-for-your-company-skigit/{% endif %}"
                                                                                     title="Rules for Business Skigits"><span style="color: #3366ff;">Rules for Your Company Skigit</span></a>
                     </div>
                 </div>
                 <br>
                 <br>
             {% endif %}
            <p><span>Is your company on a limited advertising budget? </span>
              <span>If so, Skigit offers a variety of low-cost advertising and promotional tools to help your business thrive. Skigit is a one of a kind video 
			  social networking that brings together brand manufactures, retailers and consumers in a way that offers an innovative, entertaining and enjoyable 
			  experience, while providing tremendous value to consumers, brand manufactures, retailers and service providers across the globe.</span>
            </p>
            <br>
            <p><span><strong> Do you want to broaden your presence </strong><span>without a physical location in every town or city?</span></span>
            </p>


            <br>
            <p><span><strong>Solution:</strong> Use Skigit to help you gain exposure for your business and the products you make. Nearly every business is 
			using the Internet to help their business succeed. No website offers your business a "true" earned media solution; a solution in which 
			users like your products so much that they create their own videos simply because they like what you provide. Through the effective use of a 
			fun theme based environment, earned media and social networking and Skigit is the fun  way to market your company and products. Let your 
			customers do the talking about your products and put your company logo on Skigit today!</span>
            </p>


            <span>Here are some statistics you may not be aware of:</span></p>
            <ul style="list-style-type: square; padding-left:35px;">
              <br>
              <li>
                <div><strong>90%
                  percentage</strong> of online shoppers at a major retailer website said they <strong>find video
                  helpful in making shopping and buying decisions</strong>. Retailers who provide online video to show
                  off their products, report that the products with video sell a lot more than products with no video.
                </div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;"><strong>70% of
                  active adult online social network</strong> users shop online, <strong>while 53% of these individuals
                  follow a brand via social networking.</strong></div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;">Across all
                  regions, social media has the potential to influence consumers' entertainment and home electronics
                  purchase decisions. <strong>Social media represents a </strong><strong>huge opportunity for brands to
                    gain positive favor with consumers.</strong></div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;"><strong>85% of
                  advertisers say they want to be next to social video</strong></div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;">Social
                  media-influenced video has eclipsed non-social video on the Web in terms of audience size: <strong>Online
                    video audiences are expected to double in 2016.</strong></div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;">Data shows that
                  consumers are more likely to enjoy a brand video and remember the brand involved if they come across
                  it thanks to a social media recommendation.
                </div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px;"><strong>Higher
                  Conversions:</strong> 64% &ndash; 85% are more likely to purchase after watching a product video
                </div>
              </li>
              <br>
              <li>
                <div style="margin-left: 14px">
                  <strong>Video</strong> advertising is now up to <strong>13.2 billion monthly views</strong> in the
                  U.S. alone
                </div>
              </li>
              <br>

            </ul>

            <br>
            <p class="text-center">
            <img style="width: 85%;height: auto;" alt="" src="/static/images/Social_Engagement_2.png" class="aligncenter" />
            </p>
            <p>&nbsp;</p>
            <h2 class="sageo"<span style="margin-left: 0px!important;">What if your competitors are already here?</h3>
            <br>
                    <p><span><strong>Can you afford not to join Skigit?</strong> Oh that's right, there is<strong> NO </strong>risk<strong>.</strong></span>
					<span> Your competitors most likely are taking advantage of elevating their product promotions and market presence on Skigit. Ask yourself, 
					can you really afford not to be in the same arena as you competitors especially when it costs you nothing?<br>
                        </span></p>

                   	<br>
                  <h3 class="sageo"<span style="margin-left: 0px!important;">That's all nice, but what can Skigit do for me?</h3>
              <br>
                  <h3 class="sageo"<span style="margin-left: 0px!important;font-weight:bold">Drive In-store Sales</h3>
                <br>
                    <p><span>Increase foot traffic and make it easier for people to find and share information about your business. 
					How can you accomplish this? By connecting with your customers in a way that leaves them with an indelible impression that 
					can only be accomplished through the use of emotionally&nbsp;engaging wacky, musical, witty, humerous video. 
					Skigits are NOT scripted corporate advertisements but video done in&nbsp;a way&nbsp;that&nbsp;your audience feels 
					connected to you and your brand, a way that makes consumers want to be affiliated with brand.</span></p>
                   	<br>
                  <h3 class="sageo"<span style="margin-left: 0px!important;font-weight:bold">Increase Online Sales</h3>
                  <br>
                    <p><span>Find new customers and deepen relationships with people who'll click through and buy because they 
					like the Skigits you are doing and because they trust the recommendations and promotions of family, friends and 
					their peers within the Skigit social network.</span></p>

					<br>
                    <p><h3 class="sageo"<span style="margin-left: 0px!important; font-weight:bold">Launch a NEW Product</h3></p>
                    <br>
                    <p><span>Generate excitement and maintain momentum around a new product or service by creating your custom Skigit 
					about your awesome new product. Get the word into the circles of some of the most influential social circles to generate 
					a viral thread about your new product.</span></p>
<br>
                      <p><span><strong>Create early 'buzz' around the product</strong> &ndash;
                        Creating early consumer 'buzz' around a new product is key to ensuring a product launch has a good platform from 
						which to develop. With a notable number of many social network fans also being early adopters of new products, 
						interacting with fans through Skigit is a fantastic way to increase and develop word-of-mouth.</span></p>
<br>
                        <p><span"><strong>Utilize customer and fan feedback</strong> &ndash;
                          The interactive nature of Skigit presents companies with the perfect opportunity to measure effectiveness, 
						  tweak, react and adapt their product launch strategy in line with fan and customer feedback gained through social media engagement.</span></p>
 <br>
                        <p><span><strong>Member Recognition and Rewards&nbsp;</strong>&ndash;
                          Early adopters and fans of a brand will always be more likely to talk about a new product or promotional 
						  campaign to their own friends and followers, increasing both awareness and word-of-mouth. In light of this, you have a 
						  great opportunity through Skigit to reward those product users that are sharing, liking, posting, plugging and 
						  buzzing about your new products.&nbsp;</span></p>


                <br>
                    <p><h3 class="sageo"<span style="margin-left: 0px!important;font-weight:bold">Build Brand Awareness</h3></p>
                    <p><span>Use a Skigit to express the things that make your business unique and build brand awareness&nbsp;in a whole different way. 
					Each time viewers see your brand name and logo promoted by your company and other members, your brand gets the impressions it deserves 
					and not just in the conventional way by the same old&nbsp;banner impression advertisement. In promoting your brand through Skigit, 
					your brand becomes a valued&nbsp;by viewers in a whole new way as your company becomes associated with a favorable, peer-promoted 
					recommendations.</span></p>

                   <br>
                    <p><h3 class="sageo"<span style="margin-left: 0px!important;font-weight:bold">Promote Yourself &ndash; Skigit Mobile App</h3></p>
                    <p><span>We get the Skigit mobile app into the hands of the right people, your customers, and keeps them engaged so that your business 
					gets the attention it deserves.</span></p>
					<br>
                    <p><span>Peter Eckert (July 2012, <em>Impact of mobile devices on ecommerce</em>)...<em>"Fueling the Internet's next evolution, mobile 
					devices are solidifying the new retail experience from bricks-and-mortar to the ease of click-to-order. With the proliferation of 
					smartphones and tablets, mobile commerce is expected to grow significantly over the next three years."</em></span></p>
                  <br>
                    <p><h3 class="sageo"<span style="margin-left: 0px!important;"><strong>Here's How it Works</strong></h3></p>
                          <br>
                    <p><h3 class="sageo"<span style="margin-left: 0px!important;">Offer Users Incentives and Rewards to Create Skigits for your brand!</h3></p>
                            <br>
                    <p><span>It's been reported that less than 1% of daily active users are engaging your content on other social networks. &nbsp;In other 
					words 99% of the content that brands put up there is being ignored because the content has no relevance to the audience, at least not 
					enough relevance to share with others.&nbsp;Study after study show that people "Like" brand and corporate pages mainly to&nbsp;find out 
					about specials,&nbsp;get discounts, updates, and so on.</span></p>
                    <p><span>At Skigit we feel that offering users incentives and rewards just to like your brand is a diluted form of earned-media and by 
					offering users incentives and rewards to create a Skigit for your brand about a product that they already like and are willing to "actively" 
					promote, is what "true" earned media value is all about. No other site provides your brand this level of earned media value. NONE!</span></p>
					<br>
                    <p><span>We recommend that you offer incentives to spread your brand and product awareness virally so here are some of our suggestions:</span></p>
                        <br>
						<span><strong>Offer Product Discounts</strong> &ndash;
                          A study by ExactTarget and CoTweet found that&nbsp;40% of people like brands to receive discounts and coupons.&nbsp;Discount 
						  Coupons are a proven&nbsp;great &nbsp;incentive for &nbsp;users and by creating a Skigit for you, your users have displayed a 
						  intimate connection with your brand and product. So&nbsp;is it worth it to offer users product discounts for creating a video 
						  promotion for your product? Uh huh!!<br>
                            </span>
						<br>
                        <span><strong>Discount Coupons</strong> are a proven&nbsp;great &nbsp;incentive for &nbsp;users and by creating a Skigit for you, 
						your users have displayed a intimate connection with your brand and product. So&nbsp;is it worth it to offer users product coupons 
						for creating a video promotion for your product? Uh huh, we think so! &nbsp;</span>
					<br>
					 <br>
					 <br>
                     <h2 class="sageo"<span >Let YOUR consumers do the talking for YOUR Brand!</h2>
                      <br>
                    <p><span>It all starts here! You upload your logo into your business account profile and let our members do the rest! Immediately, your 
					logo becomes available for use by our members...those consumers that you are looking to reach out to. Each time a member chooses to display 
					your logo in association with their favorite thing depicted in their Skigit, your business identity and brand instantly have the potential 
					to go viral. As members display their awesome experiences to the world, those experiences are <span
                        style="color: #000000;">VIEWED, PLUGGED, SHARED, and POSTED to other social networks. And when that happens, your products, services, 
						brand and identity go along with it.</span></span> &nbsp; <span>And that's not all! Each time a member chooses to display your logo in a 
						Skigit and that Skigit is viewed by either a member or non-member, you have made a unique emotional connection with your consumers. This 
						sentiment isn't simply an advertisement from the brand manufacturer. It's a glimpse of a human experience or a depiction of an experience 
						that your consumer feels so strongly about, that they can't wait to share it with viewers. This is the true power of Skigit and this power 
						lies in the hands of each member.&nbsp; When the Skigit is created, it becomes a credible testimonial about you by your consumer through 
						the sincerity and passion of your consumers. Isn't that what it's all about!</span></p>
                    <p><span>With the very nature of a Skigit being a video sketch of a positive experience and favorite thing, <span
                        style="color: #000000;">there are no "unfavorable" Skigits, </span>no negative information intended or allowed. In fact, each Skigit is 
						screened for content to make sure that it meets our <em><span
                        style="color: #3366ff;"><span style="color: #3366ff;"><a target="_blank"
                                                                                 href="/about-us/acceptable-use-policy/"
                                                                                 title="Acceptable Use Policy">Acceptable Use Policy</a>&nbsp;</span></span></em>
																				and our underlying website business philosophy. Each time a Skigit with your logo is <strong>VIEWED, PLUGGED, SHARED, </strong>and<strong> POSTED</strong> to another social network, your product, identity and brand are displayed in a Skigit, leaving viewers with a positive and genuine feeling about your brand, ultimately providing immeasurable value to your business. Skigit offers you the ability to reach potentially limitless social circles through social networking, providing viewers with a level of credibility that most companies simply cannot inject into promotional advertisements.</span></p>
					<br>
						<p><center><img style="width: 70%;height: auto;" alt="" src="/static/images/Business_Insert_1.png"
                            class="aligncenter"></center>
                              </p>
                              <br>
					<br>
                    <h3 class="sageo"<span style="margin-left: 0px!important;">Create your Company Skigits ...Get an Emotionally-charged Following!</h3>
                                <br>
                    <p><span>Get your business Skigit out there and watch it go viral! By creating your own business Skigits with your logo about the 
					products and services you provide, you can sit back and watch as consumers <strong>VIEW, PLUG, SHARE, POST</strong> your Skigit in 
					this and other social networks to facilitate marketing and product sales like never before! </span><span> There's no limit to the <span
                        style="color: #339966;"><strong>positive impact</strong></span> on your business when integrate your Skigit depicting your product 
						and services that others truly enjoy, into the Skigit&nbsp;social network! By the very nature of Skigit, you're able to emotionally 
						engage consumers through the use of video that no other site provides.&nbsp;You're Skigits (and logo) embed your company into the 
						ocial framework with&nbsp;excited followers that have&nbsp;help&nbsp;you take&nbsp;your business to the highest level possible.&nbsp;</span><strong>
						<span>No other site offers your business this level of value and&nbsp;opportunity!</span></strong><span>&nbsp;<span>Just follow the only 
						commandment when creating your Skigits. Refer to&nbsp;</span></span><span><span><em><span
                        style="color: #3366ff;"><span style="color: #0000ff;"><a target="_blank" href="{% if mobile_api_request %}{% url 'aboutus_api_url:rules_company_skigit_api' %}{% else %}/about-us/rules-for-your-company-skigit/{% endif %}"
                                                                                 title="Rules for Business Skigits"><span
                        style="color: #3366ff;">Our Rule for your Company Skigit</span></a>&nbsp;</span></span></em></span><span
                        style="color: #000000;">for help.</span></span></p>
                    <p class='img_center'><img style="width: 70%;height: auto;" alt=""
                                               src="{% static 'images/Business_Insert_2.png' %}"
                                               class="aligncenter"></p>
                                <br>
					<br>
                    <p><h2 class="sageo"<span>Watch Consumers click through to YOUR Profile and to&nbsp;YOUR website!</h2></p>
                                  <br>
                    <p><span>How would you like to drive massive amounts traffic to your target locations such as product ecommerce&nbsp;targets and 
					your company website? We've already established that by making your logo available to other members for use, you will be better 
					able to establish and promote your brand identity, products and services. But the payoff happens exponentially when members propagate 
					your logo, which is a "clickable"&nbsp;active image link within Skigit. As a result, each time a member clicks on the logo, now 
					attached to member Skigits, they are taken to your Skigit company profile page. Within&nbsp;your profile, you can add as many 
					as&nbsp;five external links to you favorite company URLs. Viewers will be directed to the target locations of <strong>YOUR CHOICE</strong>. 
					This allows you to drive traffic to your site or to&nbsp;your product and services ecommerce locations or simply provide information&nbsp;to 
					viewers about you and the products and services you offer.&nbsp;In other words, Skigit gets your brand identity, products and services 
					recognized naturally and effortlessly through organic social promotion and interest.&nbsp;All you have to do is&nbsp;sit back and let 
					Skigit&nbsp;work for you!</span></p>

<br>
                   	<p><center><img style="width: 60%;height: auto;" alt="" src="/static/images/Business_Insert_3.png"
                                    class="aligncenter"></center>
                                  </p>
                                  <br>
					<br>
                    <p><h2 class="sageo"<span>Embed User Skigits into YOUR Skigit Profile and YOUR External Target Locations!</h2></p>
                                    <br>
                    <p><span>As you begin to establish a presence on Skigit, you will notice a increase in users promotions of your products and services. 
					An as we already know, consumers promotions drive sales and by simply polling other video sites, one can't help but notice the power of 
					the user-created video and it's ability to entertain and mesmerize us. More and more consumers are getting amazing results by experimenting 
					and mastering video techniques with personality, humor, music and story lines that grip us so much, that many go viral. Many often reach&nbsp;tens 
					and sometimes hundreds of millions of views and this is something that in most instances, only consumer promotions can achieve.&nbsp;</span>
					<span><strong>Skigit gives you the ability to embed consumer Skigits about your product into your external target locations.</strong> Create 
					tremendous opportunities for your business and for the consumers that create Skigits promoting your products. Make your business a part of the 
					amazing synergy between consumer and brand by joining Skigit today!</span></p>
<br>
<br>

                    <div class="row">
                        <div class='col-xs-6 text-right' style=""><img width="130" height="130" alt="" src="{% static 'images/em_bed_skigit2.gif' %}"></div>
						<br>							
						<br>															   									   
                        <div class='col-xs-6'><img width="130" height="130" alt="" src="{% static 'images/em_bed_my-site2.gif' %}"class="aligncenter" style="Margin-left:-15px"></div>
                    </div>
                   	 <br>
					 <br>
					 <br>
					 <br>
                    <p><h2 class="sageo"<span><strong style="font-weight: 400;">Join Skigit Today. IT'S FREE!</strong></h2></p>
                    <p><span>That's right! You can join Skigit for <strong>FREE</strong> and pay only for results. In other words, <strong>pay only for the 
value your business receives, no more, no less</strong>! By creating an account today, you can make your logo available for Skigit members and 
only pay when other's use it to promote your business (reference</span> <span style="font-size: 16px; color: #333333;"><em>
<a target="_blank" href="{% if mobile_api_request %}{% url 'aboutus_api_url:business_value_services_fees_api' %}{% else %}{% url 'about_us_url:business_value_services_fees' %}{% endif %}" title="Business Services and Fees"><span style="color: #3366ff;">Business Services and Fees</span></a></em>.&nbsp;</span>
<span style="color: #333333;"><span> AND THERE'S MORE! Upload your own brand Skigit for FREE! Ya huh, that's FREE advertising!</span></span></p>
<br>
                    <p><span>That's right! You can join Skigit for <strong>FREE</strong> and pay only for results...<strong>pay only for value</strong>. By creating an 
					account today, you can make your logo available for use by members. You only pay on a per-use basis (reference</span> <span><em><a target="_blank"
                                                                                             href="/about-us/business-value-services-fees/"
                                                                                             title="Business Services and Fees"><span>Business Services and Fees</span></a></em>.&nbsp;</span>
																							 <span><span> AND THERE'S MORE! Upload your own brand Skigit for FREE! Ya huh, that's FREE 
																							 advertising!</span></span></p>
                                      <br>
                <p><span><center><a href="{% if mobile_api_request %}{% url 'share_deeplink_view' %}?category=SKIGIT{% else %}{% url 'register_type' %}{% endif %}"><img width="250" height="150" alt=""
                                                                            src="/static/images/Register.gif"
                                                                            class="aligncenter"></a></center></span></p>

                    <p>&nbsp;</p>
          </div>
        </div><!--end .hentry-->

      </div><!--end #content-->


      <div role="complementary" id="sidebar">
      </div><!--end #sidebar-->
    </div>
  </div>
{% endblock %}
