{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }}: Show us your awesome thing! {% endblock %}

{% block content %}
  <!-- Video playback row -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_video_2_content_div">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero" id="video">
      <div id="headline"></div>
      <section>
        {% if vid_latest_uploaded %}
          <iframe id="homeframe" height="360" width="100%" class="homeframe" title="YouTube video player"
                  src="http://www.youtube.com/embed/{{ vid_latest_uploaded.skigit_id.video_id }}?modestbranding=1&showinfo=0&autoplay=0&autohide=1&rel=0&wmode=transparent&enablejsapi=1"
                  wmode="transparent" frameborder="0" webkitallowfullscreen mozallowfullscreen
                  allowfullscreen></iframe>
        {% else %}
          <iframe height="360" width="100%" id="homeframe" class="homeframe" title="YouTube video player"
                  src="http://www.youtube.com/embed/TnUYcTuZJpM?modestbranding=1&showinfo=0&autoplay=0&autohide=1&rel=0&wmode=transparent&enablejsapi=1"
                  wmode="transparent" frameborder="0" webkitallowfullscreen mozallowfullscreen
                  allowfullscreen></iframe>
        {% endif %}
      </section>
    </div>
  </div>
  <div class="mar_zero" id="main">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcome_text_div">
      {% if not request.user.is_authenticated %}
        <div class="welcome_title">
          <h3 style="font-weight: 800;"> Welcome to </h3>
        </div>
        <span class="welcome_logo"><img src="{% static 'images/lohowelcome.png' %}"/></span>
        <div class="clear"></div>
        <div class="welcome_content col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
              <span style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;">
              Skigit is a sharing network designed specifically to enable you to create
                <span style="font-family: 'Segoe_Print'; color: #0386b4; font-size: 16px;">
                <strong>45 Second Skigits</strong>
                <span style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;">(pronounced ski’jits), about your favorite things. Share your fabulous personality and experiences with the world using
                  <span
                      style="color: #000000; font-size: 14px; line-height: 1.5;font-family: 'Segoe_Print'; color: #0386b4;">
                    <strong>originality, creativity, style, humor</strong>
                    <span style="font-family: LaoUI !important; color: #333333; line-height: 1.5;">and</span>
                    <strong>innovation</strong>.
                  </span>
                </span>
              </span>
              </span>
        </p>
        <p>&nbsp;</p>
        <p><span style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;">Upload your Skigit then choose to accept or donate<span
            style="font-family: 'Segoe_Print'; color: #0386b4;"><strong> Skigit perks </strong> </span><span
            style="text-align: center;"><span style="font-size: 16px;"><span
            style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;">to your<span
            style="color: #ee00ff;"> <strong><span style="font-size: 16px;"><strong><span
            style="font-family: 'Segoe_Print';"><span
            style="color: #d900ff;">favorite cause</span> </span></strong></span></strong></span><span
            style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;">just for showing-off what matters to you. Share a </span> <span
            style="font-family: 'Segoe_Print'; color: #ce0101;"><strong>heartfelt </strong></span><span
            style="font-family: LaoUI !important; font-size: 16px; color: #333333; line-height: 1.5;"> glimpse of your personal experiences with others and provide viewers original, emotional and creative insight into the fabric of your awesome life. After all, it is <span
            style="font-family: 'Segoe_Print'; color: #0386b4;"><strong> AWESOME!</strong></span></span></span></span></span></span>
        </p>
        <p>&nbsp;</p>

        <div class="img_userbanner">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcome_text_div">
            <p ALIGN=center class="welcome_img">
              <img src="{% static 'images/welcome_graphics_fs.png' %}" class="img-responsive">
            </p>
          </div>
        </div><!--img_userbanner-->
      {% endif %}
      {% if request.user.is_authenticated %}
        <p class="welcome_img">
          <img src="{% static 'images/welcome_graphics_fs.png' %}" class="img-responsive">
        </p>
      {% endif %}
      <p>&nbsp;</p>
      </div>


    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="latest_skigit">Latest Skigits </h3>
      {% if videos_latest %}
        <div id="skigit_content_list">
          <div class="row endless_page_template">
            {% include page_template %}
          </div>
        </div>
      {% else %}
        <div class="row" id="skigit_content_list">
          <h4>There is no skigit uploaded yet</h4>
        </div>
      {% endif %}

    </div>


  </div>
  <!--end of Video playback row -->
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>
    $.endlessPaginate(
        {
          paginateOnScroll: true,
          paginateOnScrollChunkSize: 5,
          onCompleted: function(data) { }
        }
    );
  </script>
{% endblock %}