{% load compress %}
{% load staticfiles %}

{% compress js %}
  <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
{#  <script type="text/javascript" src="{% static 'js/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>#}
{#  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/skigit.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pageUp.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jstz.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
{#  <script type="text/javascript" src="{% static 'bower_components/angular-ui-validate/dist/validate.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'js/app.module.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/core/core.module.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/core/modal/modal.form.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/user/user.module.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/user/user.login.js' %}"></script>
{% endcompress %}