{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load category_list %}

{% block title %}{{ block.super }}{{ user.first_name }} {{ user.last_name }} | Profile{% endblock %}

{% block content %}
  <style>
    .panel-primary {
      border: none !important;
    }


    #id_old_password, #id_new_password1, #id_new_password2 {
      color: #555 !important;
      background-color: transparent;
	      font-family: 'laoui Sans', sans-serif;
    }

    #id_old_password-error, #id_new_password1-error, #id_new_password2-error {
      color: red !important;
      background-color: transparent;
    }

    .error_msg, .errorlist li, .form_error_message {
      color: #ed1b2e !important;
      display: -webkit-inline-box !important;
    }

    .error_msg {
      color: #ed1b2e !important;
      margin: 10px 0 10px 27%;
    }

    .errorlist li {
      font-family: Segoe_Print !important;
      font-weight: normal !important;
    }

#type_check1, #type_check2 ,#type_check3  {
	color: #000 !important;
    background-color: #fff !important;
    margin-bottom: 25px;
    display: inline;
    margin-left: 26%;
    margin-top: 0px;
	position: relative;
}
 
 
  </style>

  <script>
    $j = jQuery.noConflict();
    jQuery(document).ready(function () {
      $j('#id_old_password').attr('autocomplete', 'off');
      $j('#id_new_password1').attr('autocomplete', 'off');
      $j('#id_new_password2').attr('autocomplete', 'off');

      $j('#pass_chang_form').on('focus', ':input', function () {
        $j(this).attr('autocomplete', 'off');
      });

      $j('#id_old_password').on('keydown', function () {
        $j('#err_msg').empty()
        $j('.errorlist').empty()
        $j('.errorlist').hide()
        $j('#err_msg').hide()
      });
      function PasswordFormValidation() {
        $j.validator.addMethod("notEqualTo", function (value, element, param) {
          return this.optional(element) || value != $j(param).val();
        }, "<span style='font-size:20px;'></span> Your Current Password and New Password do not be same. Please try again.");

        $j.validator.addMethod("oneuppercaseletter",
            function (value, element) {
			<!--return /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/.test(value);-->
			return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(value);
             <!-- return /^(?=.*[A-Z])[0-9a-zA-Z_@./#&+-]{8,}$/.test(value);-->
            }, "<span style='font-size:20px;'></span> Your New Password does not meet the minimum requirements. Please try again."
        );
        var profileForm = $j("#pass_chang_form")

        errorLabelContainer: '#errors',
            profileForm.validate({
              rules: {
                'old_password': {
                  required: true,
                },
                'new_password1': {
                  required: {
                    depends: function () {
                      $j(this).val($j.trim($j(this).val()));
                      return true;
                    }
                  },
                  notEqualTo: '#id_old_password',
                  oneuppercaseletter: true,
                  minlength: 6,
                },
                'new_password2': {
                  required: true,
                  equalTo: '#id_new_password1'
                }
              },
              messages: {
                'old_password': {
                  required: "<span style='font-size:20px;'></span> Current Password is required",
                },
                'new_password1': {
                  required: "<span style='font-size:20px;'></span> New Password is required",
                  minlength: "<span style='font-size:20px;'></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                  oneuppercaseletter: "<span style='font-size:20px;'></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                  notEqualTo: "<span style='font-size:20px;'></span> Your Current Password and New Password do not be same. Please try again."
                },
                'new_password2': {
                  required: "<span style='font-size:20px;'></span> Verify New Password is required",
                  equalTo: "<span style='font-size:20px;'></span> Your New Password could not be verified. Please try again.",
                },
              }
            });
        return profileForm.valid()
      }

      $j('#form_submit').click(function () {
        $j('#id_old_password').attr('autocomplete', 'off');
        $j('#id_new_password1').attr('autocomplete', 'off');
        $j('#id_new_password2').attr('autocomplete', 'off');
        PasswordFormValidation();
        $j('.errorlist').show()
        $j('#err_msg').show()
      });
    });

  </script>
  
  <div class="row profile white-back">
   <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
	
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	  
        <div class="profile-sidebar" id="adjust_3">

          <div class="profile-usermenu padd-left ">
            <ul class="nav">
              <li><a href="{% url 'user_profile' %}">Member Profile </a></li>
			
              {% if is_business %}	  
			   <div  class="hidden-xs hidden-sm" style="margin: 0 0 0 20px;">
					<li><a href="/brochure-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Brochure</a></li>
					<li><a href="/wall-poster-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Wall Poster</a></li>
				</div>
                <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
              {% endif %}
			  
              <li class="active"><a href="{% url 'password_change' %}">Change Password</a></li>
              <li><a href="{% url 'user_profile_notifications' %}">Notification Settings</a></li>
              <li><a href="{% url 'user_profile_delete' %}">Delete Account </a></li>
              <li><a href="{% url 'my_statistics' %}">My Skigistats</a></li>
            </ul>
          </div>
		  
        </div>
      </div>

      <div class="row mar_zero margin_tb_10">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padd_zero margin_top_5" id="change_password_menu">
          <div class="panel panel-primary">
            <div class="panel-heading">Change Password</div>
            <div class="panel-body f_type">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
                <form role="form" autocomplete="off" id="pass_chang_form" method="post"
                      action="{% url 'password_change' %}">
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        {% for err in form.non_field_errors %}
                          <div class="form_error_message">{{ err }}</div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}

                  
                  <div class="row mar_zero">
                    <div>
					<div class="row mar_zero">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}">Current Password&nbsp;&nbsp;&nbsp;<span class="red" style="margin-left: -10px;"> *</span></label>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">  {{ form.old_password|addcss:"form-control" }}</div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"></div>
					
						 {% if form.old_password.errors %}
                          <div id="err_msg" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            <span style="font-family: LAOUI, Sans-serif !important;">Your current password is incorrect. Please try again.</span>
                          </div>
                        {% endif %}
                  </div>
					
			 <div>
			   <input type="checkbox" id="type_check1" onclick="myFunction1()">
				<span id="login_pwd_span" style="font-size:13px;font-family: cursive;" >Show Password </span>
			 </div>
				<script>
					function myFunction1() {
					var x = document.getElementById("{{ form.old_password.id_for_label  }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>
					
                      <div class="row mar_zero">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">New Password&nbsp;&nbsp;&nbsp;
							<span class="red" style="margin-left: -10px;"> *</span>
                            </label></div>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                          {{ form.new_password1|addcss:"form-control" }}
                        </div>
                        {% if form.new_password1.errors %}
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            <label>
                              <span style='font-size:20px;'</span>
                              {{ form.new_password1.errors }}
							    
                            </label>
                          </div>
                        {% endif %}
                      </div>

			<div>
			   <input type="checkbox" id="type_check2" onclick="myFunction2()">
				<span id="login_pwd_span" style="font-size:13px;font-family: cursive;" >Show Password </span>
			 </div>
				<script>
					function myFunction2() {
					var x = document.getElementById("{{ form.new_password1.id_for_label }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>
				
                      <div class="row mar_zero">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Verify New Password&nbsp;&nbsp;&nbsp;<span class="red" style="margin-left: -10px;"> *</span>
                            </label></div>
                        </div>
                        <div
                            class="col-lg-5 col-md-4 col-sm-4 col-xs-12"> {{ form.new_password2|addcss:"form-control" }}</div>
                        {% if form.new_password2.errors %}
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            {{ form.new_password2.errors }}
                          </div>
                        {% endif %}
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"  style="margin-top: -80px;">Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter. Special characters are allowed.
                        </div>
                      </div>
					  
			<div>
			   <input type="checkbox" id="type_check3" onclick="myFunction3()">
				<span id="login_pwd_span" style="font-size:13px;font-family: cursive;" >Show Password </span>
			 </div>
				<script>
					function myFunction3() {
					var x = document.getElementById("{{ form.new_password2.id_for_label }}");
					if (x.type === "password") {
					x.type = "text";
					} else {
				x.type = "password";
				  }
				}
				</script>	
		
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="margin-left: 30px;">
						
                          <button type="submit" class="btn yel" id="form_submit" name="basic_profile_submit" style="margin:-3px 10px 10px 0px !important">&nbsp;Save&nbsp;</button>
						  
                          <a href="/profile" class="btn yel" id="cancel_pwd_change_button">Cancel</a></div>
                        <div id="errors" style="margin-top: 25px; list-style-type: none"></div>
                       <!-- {% if form.old_password.errors %}
                          <div id="err_msg" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            <span style="font-family: LAOUI, Sans-serif !important;">Your current password is incorrect. Please try again.</span>
                          </div>
                        {% endif %}-->
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     <!--</div>-->
  </div>

{% endblock %}
