{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}

{% block window_page_meta_block %}
<title>{{ user.first_name }} {{ user.last_name }} | Delete Profile</title>
<meta name="description" content="Skigit" />
<meta property="og:title" content="Skigit" />
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
<meta name="description" content="Skigit"/>
<meta property="og:site_name" content="Skigit"/>
<meta itemprop="name" content="Skigit" />
<meta name="description" content=  "Skigit"/>
<meta name="rating" content="Skigit"/>
<meta name="revisit-after" content="1 days"/>
<meta name="robots" content="index,follow"/>
<meta name="Author" content="(c) Skigit"/>
<style>

</style>
{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
<div class="row profile white-back" id="main">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="profile-sidebar">
                
				
                <div class="profile-usermenu padd-left ">
                    <ul class="nav">
                        <li> <a href="{% url 'user_profile' %}">Member Profile </a></li>
						
			 {% if is_business %}
			 
			   <div  class="hidden-xs hidden-sm" style="margin: 0 0 0 20px;">
					<li><a href="/brochure-preview" style="padding-top: 0 !important; margin-left: 10px;">View/Print Brochure</a></li>
								  
                <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
              {% endif %}
			  
			  
                        <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
                        <li class="active"><a href="{% url 'password_change' %}">Change Password</a></li>
                        <li ><a href="{% url 'user_profile_notifications' %}">eNotification Setting </a> </li>
                        <li><a href="{% url 'user_profile_delete' %}">Delete Account </a></li>
                        <li><a href="{% url 'my_statistics' %}">My Statistic </a></li>

                    </ul>
                </div>
				
            </div>
        </div>
        
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="profile-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row mar_zero">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_bottom_10">
                        <hr class="gray" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero" style="display:-webkit-box;">
     			<span><img src="{% static 'images/skigitright.png' %}" style="width: 25px;margin-top: 10px;margin-left:100px;"/></span>
                        <h3 class="success_msg text-center margin_top_10" ><span> &nbsp;Your Password has been successfully changed!</span> </h3>
                    </div>
                </div>
            </div>
        </div>
		
		
    </div>
</div>

{% endblock %}
