<html>
<head>
    <title></title>
</head>
<body>
<p></p><center>
        <label>
            <h3><img src="http://skigit.com/media/django-summernote/2018-11-03/60c24879-8572-4ae5-947b-82bdef06dbce.png" style="color: rgb(0, 0, 0); font-family: &quot;Segoe UI&quot;, sans-serif;font-size: 14px; width: 169.167px; height: 145px;"></h3>
          <h3 style="font-weight: normal;font-size: 18px; font-family: &quot;Segoe UI&quot;, sans-serif;">Password Recovery<span></span><br></h3>
          <span style="font-family: &quot;Segoe UI&quot;, sans-serif;">
        </span></label>
		</center>
 <!-- Logo and Title Section above --------------->
 
<p style="text-align: left; font-size:18px; font-family: Segoe UI, sans-serif;" >Dear {{ user|title }},</p>
<p style="text-align: left; font-size:18px; font-family: Segoe UI, sans-serif;" > This email was sent automatically by Skigit in response to your request to reset your password.
  This is done for your protection; only you, the recipient of this email can take the next step in
    the password recovery process.</p>
<p style="text-align: left; font-size:18px; font-family: Segoe UI, sans-serif;" >To reset your password and access your account,
either click on the link or copy and paste the following link into the address bar of your browser:</p>
<p style="text-align: left; font-size:18px; font-family: Segoe UI, sans-serif;" >
    <a style="color: #0A246A" href="{{ protocol}}://skigit.com{% url 'password_reset_confirm' uidb64=uid token=token %}">
    {{ protocol}}://skigit.com{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
</p>
<p style="text-align: left; font-size:18px; font-family: Segoe UI, sans-serif;" > Thank you, <br>
 Skigit 
 <br>
 <br>
<center><span style="text-align: center; font-size: 18px ; font-family: Segoe UI, sans-serif;">Live, Share ...Make the Difference!</span></center></center><center>
    </center>
</p>
</body>
</html>