{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load category_list %}

{% block title %}{{ block.super }}Change Password{% endblock %}

{% block content %}
  <style>
    .f_type {
      font-family: 'laoui Sans', sans-serif;
      width: 67%;
      font-size: 18px;
      margin-left: 180px !important;
      line-height: 1.5;
    }

#type_check1,  #type_check2  {
	color: #000 !important;
    background-color: #fff !important;
    margin-bottom: 15px;
    display: inline;
    margin-left: 17px;
    margin-top: -10px;
}

#reg_pwd_1  {
    margin-top: -25px;
}
  </style>
  <script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
      function PasswordFormValidation() {
        $j.validator.addMethod("notEqualTo", function (value, element, param) {
          return this.optional(element) || value != $j(param).val();
        }, "<span style='font-size:20px;'></span> Your Current Password and New Password do not be same. Please try again.");

        $j.validator.addMethod("oneuppercaseletter",
            function (value, element) {
			return /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(value);
             <!--return /^(?=.*[A-Z])[0-9a-zA-Z_@./#&+-]{8,}$/.test(value);-->
            }, "<span style='font-size:20px;'></span> Your New Password does not meet the minimum requirements. Please try again."
        );
        var profileForm = $j("#pass_chang_form");

        errorLabelContainer: '#errors'
            profileForm.validate({
              rules: {
                'new_password1': {
                  required: {
                    depends: function () {
                      $j(this).val($j.trim($j(this).val()));
                      return true;
                    }
                  },
                  notEqualTo: '#id_old_password',
                  oneuppercaseletter: true,
                  minlength: 6
                },
                'new_password2': {
                  required: true,
                  equalTo: '#id_new_password1'
                }
              },
              messages: {
                'old_password': {
                  required: "<span style='font-size:20px;'></span> Current Password is required"
                },
                'new_password1': {
                  required: "<span style='font-size:20px;'></span> New Password is required",
                  minlength: "<span style='font-size:20px;'></span>Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter. Special characters are allowed.",
                  oneuppercaseletter: "<span style='font-size:20px;'></span> Your password must contain between 8 and 16 characters with at least 1 upper case letter and may contain special characters.",
                  notEqualTo: "<span style='font-size:20px;'></span> Your Current Password and New Password cannot not be same. Please try again."
                },
                'new_password2': {
                  required: "<span style='font-size:20px;'></span> Your New Password could not be verified. Please try again.",
                  equalTo: "<span style='font-size:20px;'></span> Your New Password was not verified. Please try again."
                }
              }
            });
        return profileForm.valid()
      }

      $j('#form_submit').click(function () {
        $j('#id_new_password1').attr('autocomplete', 'off');
        $j('#id_new_password2').attr('autocomplete', 'off');
        PasswordFormValidation();
        $j('.errorlist').show();
        $j('#err_msg').show();
      });
    });
  </script>
  <div class="row mar_zero" id="main" style="min-height: 500px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
      {% if form %}
        {% csrf_token %}
        <h2 class="margin_top_15 sego word_space_2 text-center">Create New Password</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
          <div class="row mar_zero">
            <form autocomplete="off" id="pass_chang_form" method="post" action="">
              {% csrf_token %}
              <div class="row mar_zero">
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs padd_zero">
                  &nbsp;
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="user_register_type">
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group f_type">
                        {% for err in form.non_field_errors %}
                          <div class="form_error_message">{{ err }}</div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}

                  {% if form.errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group error_msg f_type">
                        {% trans "Please correct the error below." %}
                      </div>
                    </div>
                  {% endif %}

                  <div class="row mar_zero">
                    <label class="pull-right">
                      <span class="pull-right"></span>
                      <span class="pull-right" style=" margin-top: 10px;"></span>
                    </label>
                  </div>

                  <div class="row mar_zero">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">New Password
                        </label>
                      <span class="red">*</span>

                        {{ form.new_password1|addcss:"form-control" }}
                        {% if form.new_password1.errors %}
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            {{ form.new_password1.errors }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
					
				<div id = "reg_pwd_1">
						<input type="checkbox" id="type_check1" onclick="myFunction1()">
						<span id="login_pwd_span" style="font-size:13px" >Show Password </span>
				</div>
				<script>
					function myFunction1() {
					var x = document.getElementById("{{ form.new_password1.id_for_label}}");
					if (x.type === "password") {
					x.type = "text";
					} else {
					x.type = "password";
						}
					}
					</script>	
					
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}">Re-Type New password</label>
                      <span class="red">*</span>
                        {{ form.new_password2|addcss:"form-control" }}
                        {% if form.new_password2.errors %}
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                            {{ form.new_password2.errors }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
					
					<div id = "reg_pwd_2">
						<input type="checkbox" id="type_check1" onclick="myFunction2()">
						<span id="login_pwd_span" style="font-size:13px" >Show Password </span>
				</div>
				<script>
					function myFunction2() {
					var x = document.getElementById("{{ form.new_password2.id_for_label}}");
					if (x.type === "password") {
					x.type = "text";
					} else {
					x.type = "password";
						}
					}
					</script>	
					
					 <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"  style="margin-top: -130px;margin-left: 100%;width: 50%;">Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter. Special characters are allowed.
                        </div>
						
                  </div>
                  <div class="row mar_zero">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                      <div class="form-group">
                        <input type="submit" id="form_submit" class="btn" value="Submit" />
                        <a href="{% url 'index' %}" onclick="location.href = '/'" class="btn" style="padding: 5px;">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      {% else %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_30">
          <div class="row mar_zero">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_top_50">
              <h4 class="text-center margin_top_50 f_type">
                Your password link is invalid or expired. Please check your email for a valid password link or attempt
                another reset.
              </h4>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                <a href="{% url 'index' %}" class="btn btnhome">&nbsp;Home&nbsp;</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
