{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load category_list %}

{% block title %}{{ block.super }}Business User Register{% endblock %}

{% block css %}
      <style>
        #id_username, #id_email, #id_password1, #id_password2, #type_check, #usepolicy_check, #ageconfirm_check {
          color: #555 !important;
          background-color: #fff !important;
          margin-bottom: 0px;
        }



        .error_msg, .errorlist li, .form_error_message {
          color: #ed1b2e !important;
          display: -webkit-inline-box !important;
        }

        .error_msg {
          color: #ed1b2e !important;
          font-family: Segoe_Print !important;
        }

        li {
          font-family: inherit !important;
        }

        .dropdown {
          position: relative;
          cursor: pointer;
          display: inline-block;
        }

        .dropdown-menu p {
          white-space: initial;
        }

        .dropdown .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          margin: 0;
          border: 1px solid #ccc !important;
          width: 189px !important;
        }

        .dropdown .dropdown-menu .pop {
          padding: 1px 7px 1px 16px;
          margin: 0px 1px -16px -1px !important;
        }

        .dropdown .dropdown-menu h2 {
          font-weight: bold;
          font-size: 12px;
          color: #000 !important;
          margin: 0 0 4px 0 !important;
          padding: 0 !important;
        }

        .dropdown .dropdown-menu p {
          display: block;
          line-height: 17px;
          font-size: 11px;
          font-family: "segoe_print" !important;
          font-weight: normal !important;
        }

        .dropdown .dropdown-menu p a {
          color: #037bb8;
          text-decoration: underline !important;
        }

        .dropdown .dropdown-menu p a:hover {
          color: #037bb8;
          text-decoration: none;
        }

        .dropdown .dropdown-menu p span {
          color: #E40003;
        }

        .target-div h2 {
          font-size: 14px;
          color: #3abe75 !important;
          margin: 0px 0 8px 0 !important;
          padding: 0 !important;
          text-align: center;
          font-weight: bold;
        }

        .donation-content input[type="radio"], .donation-content label {
          font-family: "segoe_print" !important;
          text-align: left;
        }

        .form-control.error {
          top: inherit !important;
        }

        .form-control.valid {
          top: inherit !important;
        }

        .form-group .checkbox-label {
            top: 0px;
            display: inline-block !important;
            float: left;
            margin-left: 15%;
            padding-right: 10px;
        }

        .checkbox-error-msg {
            position: absolute;
            margin-left:40px;
            font-size: 14px;
            margin-top:3px;
        }

    input[type="checkbox"] + label::before {
        border: 1px solid #a4a4a4;
    }

    #type_check1,  #type_check2  {
        color: #000 !important;
        background-color: #fff !important;
        margin-bottom: 15px;
        display: inline;
        margin-left: 2px;
        margin-top: -10px;
    }

  </style>

{% endblock css %}

{% block content %}
  <div class="row mar_zero" id="main" style="min-height: 700px;">
      <h2 class="margin_top_15 sego word_space_2 text-center">Register Here!</h2>
      <div class="margin_top_30">
        <div class="row mar_zero">
          <form id="registration_form" action="{% url 'register_type' %}" method="POST" name="reg_type">
            <div class="row mar_zero">
              <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs padd_zero" style="width: 25%;">
                &nbsp;
              </div>
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" id="user_register_type" style="width: 50%;">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-group">
                      {% for err in form.non_field_errors %}
                        <div class="form_error_message">{{ err }}</div>
                      {% endfor %}
                  </div>
                {% endif %}

                <div class="row mar_zero">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" style="width:100%">
                      <label for="{{ form.username.id_for_label }}">Username <span class="red">*</span>
                      </label>
                      {{ form.username|addcss:"form-control" }}
                    </div>
                  </div>
                </div>
                <div class="row mar_zero">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label for="{{ form.email.id_for_label }}">Email <span class="red">*</span>
                      </label>
                      {{ form.email|addcss:"form-control" }}
                    </div>
                  </div>
                </div>
                <!--<div class="row mar_zero">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
				  
                    <div class="form-group" id="pwd_group">
                      <label for="{{ form.password1.id_for_label }}">Password <span class="red">*</span>
                          <span id="reg_password_help_text" >Your password must contain between 8 and 16 characters with at least 1 number and 1 upper case letter. Special characters are allowed.</span>
                      </label>
					 
                      </label>
                      <div class="input-group" style="font-family: inherit;">
                        {{ form.password1|addcss:"form-control" }}
                        <span class="input-group-addon" id="password-addon1"></span>
                      </div>
                      
					 <!--<label id="id_password1-error" class="error" for="id_password1" style="top: -34px;"></label>-->
					  
					<div class="form-group" id = "reg_pwd_business">
						<input type="checkbox" id="type_check1" onclick="myFunction1()" style="display: none;">
						<label id="type_check-show-pwd" class="checkbox-label error" style="top: 0px;" for="type_check1"></label>
						<span id="login_pwd_span" style="font-size:13px;font-family: cursive;
}" >Show Password </span>
					</div>
				 </div>
              <!--   </div>
               </div>-->

                <!--<div class="row mar_zero">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
				  
                    <div class="form-group">
                      <label for="{{ form.password2.id_for_label }}">Re-type Password <span class="red">*</span>
                      </label>
                      {{ form.password2|addcss:"form-control" }}
                    </div>
                  <!--</div>
                </div>-->
				
			<div class="form-group" id="retype_pwd">
			   <input type="checkbox" id="type_check2" onclick="myFunction2()" style="display: none;">
			   <label id="type_check-show-pwd" class="checkbox-label error" style="top: 0px;" for="type_check2"></label>
				<span id="login_pwd_span" style="font-size:13px;font-family: cursive;
}" >Show Password </span>
			 </div>
			 
                <div class="row mar_zero">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" width: 120%;">
                      <div class="form-group" style="width: 110%;font-size: 16px;font-family: cursive">
                            {% include 'includes/registration_terms.html' %}

                            <div class="form-group for-button text-center" style="margin:50px;">
                             <a href="#" onclick="location.href = '/'" class="btn" style="margin: 10px 0px 12px 10px;padding: 3px">Cancel</a>
                              <button type="submit" id='form_submit' class="btn" name="register_as_business_user" style="margin: 10px 0px 12px 10px;">
                                &nbsp;Next&nbsp;</button>
                           </div>

                      </div>
                  </div>
                </div>

                <div class="row mar_zero hide">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                    <div class="form-group for-button">
                      <button type="submit" id='form_submit' class="btn" name="register_as_business_user" style="margin:10px;">&nbsp;Save&nbsp;</button>
                      <a href="#" onclick="location.href = '/'" class="btn" style="line-height: 33px; margin: 10px 10px 10px 0px;">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        username_error = "{{ form.username.errors.0 }}";
        console.log(username_error);
        email_error = "{{ form.email.errors.0 }}";
        password1_error = "{{ form.password1.errors.0 }}";
        password2_error = "{{ form.password2.errors.0 }}";
        password1_label_text = "{{ form.password1.id_for_label }}";
        password2_label_text = "{{ form.password2.id_for_label }}";
        console.log(password1_label_text);
    </script>
    <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
{% endblock js %}
