@charset "utf-8";
/* CSS Document */

.grid-small .item{
	float:left !important;
}

.grid-small ul li{width:235px; float:left;}

.profile_div_fileds input[type="textbox"]{ width:240px !important;}

#field_41, #field_20{width:272px;}

.profile_div_fileds select{width:262px;}

.profile_div_fileds input[type="textbox"]{width:252px !important;}

