{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}

{% block window_page_meta_block %}
    <title>Passsword Reset Suceess | Skigit</title>
    <meta name="description" content="Password Reset Suceess" />
    <link rel="image_src" href="{% static 'img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta property="og:title" content="Skigit" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="{% static 'img/ico/arabic-media-icon-100x110.jpg' %}"/>
    <meta name="description" content="Password Reset Suceess"/>
    <link rel="image_src" href="{% static 'img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta property="og:site_name" content="Skigit"/>
    <!--        <meta property="fb:app_id" content="120554071328497"/>-->
    <meta property="og:description" content="Password Reset Suceess"/>

    <meta itemprop="name" content="Skigit" />
    <meta itemprop="description" content="User Register Success" />
    <meta itemprop="image" content="img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta name="description" content=  "Password Reset Suceess"/>
    <meta name="keywords" content="Password Reset Suceess" />
    <meta name="rating" content="Skigit"/>
    <meta name="revisit-after" content="1 days"/>
    <meta name="robots" content="index,follow"/>
    <meta name="Author" content="(c) Skigit"/>
{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
    <div class="row mar_zero" style="min-height: 400px;" id="main">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_50">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row mar_zero">

                    <h2 class="text-center margin_top_10 sego word_space_2">
                        {% trans "You're almost done!" %}
                    </h2> 
                    <h4 class="text-center margin_top_30 sego1">A password reset link has been emailed to you. Click the link to reset your Skigit password.</h4>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                        <a href="{% url 'index' %}" class="btn btnhome">&nbsp;Home&nbsp;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
