{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}

{% block window_page_meta_block %}
    <title>Change Password | Skigit </title>
    <meta name="description" content="Skigit" />
    <meta property="og:title" content="Skigit" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta name="description" content="Skigit"/>
    <meta property="og:site_name" content="Skigit"/>
    <meta property="og:description" content=""/>
    <meta itemprop="name" content="Skigit" />
    <meta itemprop="description" content="" />
    <meta name="description" content=  "Skigit"/>
    <meta name="keywords" content="" />
    <meta name="rating" content="Skigit"/>
    <meta name="Author" content="(c) Skigit"/>

{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
    <style>
    .panel-primary {
        border: none !important;
    }
  .panel-primary > .panel-heading {
    background: #eaeaea !important;
    color: #000;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 0 !important;
    padding: 4px 15px;
}

        #id_old_password,#id_new_password1,#id_new_password2{
            color: #555 !important;
            background-color: transparent;
        }
        #id_old_password-error,#id_new_password1-error,#id_new_password2-error{
            color: red !important;
            background-color: transparent;
        }
        .error_msg, .errorlist li, .form_error_message{
            color: #ed1b2e !important;
            display: -webkit-inline-box !important;
        }
        .error_msg{
            color: #ed1b2e !important;
            margin-left: 15%;
        }
        .errorlist li{
            font-family: Segoe_Print !important;
            font-weight: normal !important;
        }

    </style>

    <script>

        jQuery(document).ready(function(){
            $('#id_old_password').attr( 'autocomplete', 'off' );
            $('#id_new_password1').attr( 'autocomplete', 'off' );
            $('#id_new_password2').attr( 'autocomplete', 'off' );

            $('#pass_chang_form').on( 'focus', ':input', function(){
                $(this).attr( 'autocomplete', 'off' );
            });

            $('#id_old_password').on('keydown', function(){
                $('#err_msg').empty()
                $('.errorlist').empty()
                $('.errorlist').hide()
                $('#err_msg').hide()
            });
            function PasswordFormValidation() {
                $.validator.addMethod("notEqualTo", function(value, element, param) {
                    return this.optional(element) || value != $(param).val();
                }, "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your Current Password and New Password do not be same. Please try again.");

                $.validator.addMethod("oneuppercaseletter",
                        function(value, element) {
                            return /^(?=.*[A-Z])[0-9a-zA-Z_@./#&+-]{8,}$/.test( value );
                        },"<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password does not meet the minimum requirements. Please try again."
                );
                var profileForm = $("#pass_chang_form")

                errorLabelContainer: '#errors',
                        profileForm.validate({
                            rules: {
                                'old_password': {
                                    required: true,
                                },
                                'new_password1': {
                                     required:{
                                        depends: function () {
                                            $(this).val($.trim($(this).val()));
                                            return true;
                                        }
                                    },
                                    notEqualTo:'#id_old_password',
                                    oneuppercaseletter: true,
                                    minlength: 6,
                                },
                                'new_password2': {
                                    required: true,
                                    equalTo:'#id_new_password1'
                                }
                            },
                            messages: {
                                'old_password': {
                                    required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Current Password is required",
                                },
                                'new_password1': {
                                    required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> New Password is required",
                                    minlength: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                                    oneuppercaseletter: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password must contain minimum of 8 characters with alteast one upper case character",
                                    notEqualTo:"<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your Current Password and New Password do not be same. Please try again."
                                },
                                'new_password2': {
                                    required: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Verify New Password is required",
                                    equalTo: "<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> Your New Password could not be verified. Please try again.",
                                },
                            }
                        });
                return profileForm.valid()
            }
            $('#form_submit').click(function() {
                $('#id_old_password').attr( 'autocomplete', 'off' );
                $('#id_new_password1').attr( 'autocomplete', 'off' );
                $('#id_new_password2').attr( 'autocomplete', 'off' );
                PasswordFormValidation();
                $('.errorlist').show()
                $('#err_msg').show()
            });
        });

    </script>
    <div class="row profile mar_zero white-back">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="profile-sidebar">

                    <div class="profile-usermenu padd-left ">
                        <ul class="nav">
                            <li > <a href="{% url 'user_profile' %}">Member Profile </a></li>
			    {% if is_business %}
                                <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
                            {% endif %}
                            <!--<li><a href="{% url 'user_payment_setup' %}">Payment Setup </a></li>-->
                            <li class="active"><a href="{% url 'password_change' %}">Password and Email </a></li>
                            <li ><a href="{% url 'user_profile_notifications' %}">Notification Setting </a> </li>
                            <li><a href="{% url 'user_profile_delete' %}">Delete Account </a></li>
                            <li><a href="{% url 'my_statistics' %}">My Statistic </a></li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>

            <div class="row mar_zero margin_tb_10">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padd_zero margin_top_5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Change Password</div>
                        <div class="panel-body f_type">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
                            <form role="form"  autocomplete="off" id="pass_chang_form" method="post" action="{% url 'password_change' %}">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            {% for err in form.non_field_errors %}
                                                <div class="form_error_message">{{ err }}</div>
                                            {% endfor %}
                                        </div>
                                        </div>
                                {% endif %}

                                <div class="row mar_zero">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group text-right">
                                            <label for="{{ form.old_password.id_for_label }}">Current Password&nbsp;&nbsp;&nbsp;</label></div></div>
                                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">  {{ form.old_password|addcss:"form-control" }}</div>
                                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12"> Require to change current password</div>
                                </div>
                                <div class="row mar_zero"><div>
                                <div class="row mar_zero">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group text-right">
                                            <label for="{{ form.new_password1.id_for_label }}">New Password&nbsp;&nbsp;&nbsp;

                                            </label> </div></div>
                                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">   {{ form.new_password1|addcss:"form-control" }}</div>
                                    {% if form.new_password1.errors %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                                            <label><span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span> {{ form.new_password1.errors }}</label>
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="row mar_zero">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group text-right">
                                            <label for="{{ form.new_password2.id_for_label }}">Verify New Password&nbsp;&nbsp;&nbsp;
                                            </label></div>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12"> {{ form.new_password2|addcss:"form-control" }}</div>
                                    {% if form.new_password2.errors %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    {% endif %}
                                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">Your password must contain between 8 and 16 charactertures with at least 1 upper case letter.</div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"><button type="submit" class="btn yel" id="form_submit" name="basic_profile_submit">&nbsp;Save&nbsp;</button>
                                        <a href="/profile"  class="btn yel">Cancel</a></div>
                                    <div id="errors" style="margin-top: 25px; list-style-type: none"></div>
                                    {% if form.old_password.errors %}
                                        <div id="err_msg" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 error_msg padd_zero">
                                            <!--<span style='font-size:20px;'><i class='glyphicon glyphicon-remove-circle' style='top: 5px !important;' /></span>-->
					    <span><img src="{% static 'skigit/images/skigitcross.png' %}" style="width: 25px;margin-bottom: 5px;"/></span>
                                            <span style="font-family: Segoe_Print !important;">Your Current Password is incorrect. Please try again.</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
