
{% load staticfiles %}
{% load i18n %}

<html>
<head>

    <title>
        Brochure | Skigit
    </title>
    <link rel="shortcut icon" href="{% static 'skigit/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'skigit/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'skigit/css/app.css' %}">
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<style>

    @media print {
        body * {
            visibility: hidden;
        }
        #section-to-print, #section-to-print * {
            visibility: visible;
        }
        #section-to-print {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .f_type{
        font-family: segoe_print !important;
    }
    form.form_btn {  position: fixed; right: 30px;  top: 40px;}
    body{ margin:0 }

</style>

<body>

<section style="border: 8px solid #ffffff;" id="section-to-print">

    <div class="broshar_main" style="width:1728px; margin:0 auto; box-sizing:border-box;">
        <div class="broshar_head " style="background-color:#005a9e; padding:5px; display: table; width: 100%; box-sizing:border-box;">
            <div class="head_1broshar" style="display:table; float:left">
                <span class="f_type" style="display: table; font-size: 30px; float: left; color:#fff; padding: 20px; font-family: segoe_print !important;"> Download The Skigit App today ! </span>
                <img src="{{ skigit_logo }}" style="width: 100px; padding: 10px; margin-top: 7px; background: #fff; margin-left: 10px; border: 5px solid #3dbae6; border-radius: 23px; "/>
            </div>
            <div class="logo_right" style="    display: table; float: right; background-color: #fff; border-radius: 50%;
             margin-bottom: -190px; width: 300px;  padding: 40px;">
                <img src="{{ poster_obj.b_logo }}" alt="" style="width: 165px;  display: table; margin: 0 auto;; "/>
            </div><!--logo_right-->
        </div><!--broshar_head-->

        <div class="contain_broshar" style="width:100%; height:1296px; background-image:url('{{ poster_1 }}'); background-size: 100% 100%; background-repeat: no-repeat;">
            <div class="contain_01" style="display:table; width:100%;">
                <div class="head_1broshar" style="display:table; float:left; padding:30px;  width: 100%; box-sizing: border-box;">
                    <div style="width: 260px; float: left; margin-left: 15px; margin-right: 30px; padding: 40px; background-color: #fff; border-radius: 50%;">
                        <img src="{{ skigit_logo }}" style="width:100%;"/>
                    </div>
                    <div style="display:table;">
                        <span class="f_type"  style="display: table; color:#fff; font-size:40px; padding-left:5px; font-family: segoe_print !important;">
                             {{ wall_post.header_text }}
                            <img src="{{ header_image }}" style="width: 65px; margin-left:15px; margin-bottom:-20px;"/>
                        </span>
                        <p class="f_type"  style="color: #fff;font-size:30px; margin:0; width: 1055px; font-family: segoe_print !important;">
                             {{ wall_post.content1 }}
                        </p>

                        <p class="f_type"  style="color:#fff; font-size:20px; margin:0; text-align:right; font-family: segoe_print !important;">
                            <a href="#" style="text-decoration: none; font-size: 35px; color: #318db7; font-weight: bold; margin-top:-15px; display: table; float: right;">{{ wall_post.content4 }}</a>
                        </p>
                    </div>
                </div><!--head_1broshar-->
            </div><!--contain_01-->

            <div class="contain_02" style="display:table; padding:100px 50px; margin-top:10px; box-sizing:border-box; width: 1000px;">
                <div style="display:table; width:100%; ">
                    <p class="f_type"  style="color:#fff; font-size:30px; margin:0; font-family: segoe_print !important;">
                        {{ wall_post.content2 }}
                    </p>
                </div>
            </div><!--contain_02-->

            <div class="contain_02 f_type" style="display:table; padding:20px 20px 0px 20px; box-sizing:border-box; width:100%;">
                <div style="display:table; width:100%;"></div>
                <p style="display:table; width:1000px; margin-right:0px; float:right; color: #fff; margin-top:200px; font-size:30px; font-family: segoe_print !important;">
                    {{ wall_post.content3 }}
                </p>
            </div>
        </div><!--contain_broshar-->

        <div class="contain_03 f_type">
            <p style="background-color:#000; color:#fff; margin:0; padding:20px 20px; text-align:center; font-size:25px; margin-top:15px; font-family: segoe_print !important;">
                {{ wall_post.footer_text }} </p>
        </div><!--contain_03-->
    </div><!--broshar_main-->
</section>
</body>
</html>