{% load staticfiles %}
{% load i18n %}
 {% load el_pagination_tags %}
{% if sperk_logo_list %}
    {% lazy_paginate 14,14 sperk_logo_list %}
    {% for logos in sperk_logo_list %}
        <a onclick="blogoclick({{ logos.img_id.id  }}, '{{ request.scheme }}://{{ request.get_host }}{% url 'sperk_profile' logos.user.id logos.img_id.id %}') " title="{{logos.company_title | default:logos.user.get_full_name |default:logos.user.username }}" >
            <img src="{{logos.b_img}}"   style="margin-bottom: 5px"/>
        </a>
    {% endfor %}
  <span style='font-size:x-large' title="more">{% show_more '&#x27F1;' %}</span>

  <script>
      function blogoclick (logo_id, url){
          var message;
          jQuery.ajax({
              url: "/invoice/business-logo/",
              type: "POST",
              data: {'logo_id': logo_id},
              success: function (data) {
                  if(data.is_success)
                  {
                      window.location.href = url
                  }
                  else{
                     message = data.message;
                  }
              }
          });
      }
  </script>
{% endif %}