{% load staticfiles %}
{% load category_list %}
{% load el_pagination_tags %}
{% load thumbnail %}

{% paginate videos_latest %}
{% for vid in videos_latest %}
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 skigit_content_wrap endless_page_template" id="home_page"
       data-skigt="{{ vid.id }}">
    <div class="box_skigitvid">
        <div class="box_sonvid"  style="text-align: center;">
        <span class="spn_videoname"
              style="position: absolute;">{{ vid.title }}</span>
      </div>

      <div class="mar_zero skigit_contents">
        <div class="padd_zero skigit_img">
          {% thumbnail vid.skigit_id.thumbnails.all.0.get_absolute_url "x200" as im %}
          <img alt="skigit" src="{{ im.url }}" class="lazy">
          {% endthumbnail %}

        </div>
        <div class="pull-right skigit_creator_logo">
          {% if vid.business_logo.id %}
            {% if vid.made_by and vid.business_logo.is_deleted == False %}
              {% if request.user.is_authenticated %}
                <a onclick="logoclick({{ vid.business_logo.id }},'{% url 'sperk_profile' vid.made_by.id vid.business_logo.id %}')"
                 id="profile_hover{{ vid.id }}">
              {% else %}
                <a onclick="openMessage()">
              {% endif %}
                {% if vid.business_logo %}
                  {% thumbnail vid.business_logo.logo "x200" as im %}
                    <img class="img-responsive image-business lazy"
                         src="{{ im.url }}" data-vid="{{ vid.id }}"
                         alt="{{ vid.skigit_id.user.username }}"/>
                  {% endthumbnail %}
                {% endif %}
              </a>
            {% else %}
              {% for def in default_logo %}
                {% if def.made_by == vid.made_by.id %}
                  {% if vid.business_logo %}
                    {% if request.user.is_authenticated %}
                      <a href="{% url 'sperk_profile' def.made_by def.business_logo.id %}"
                       data-vid="{{ vid.id }}"
                       class="image-business">
                    {% else %}
                      <a onclick="openMessage()">
                    {% endif %}
                      {% thumbnail def.business_logo.logo "x200" as im %}
                        <img class="img-responsive"
                             src="{{ im.url }}" class="lazy"/>
                      {% endthumbnail %}
                    </a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}

          <!--{% if vid.business_logo.id %}
            <div class="business_enlarge" id="business_enlarge{{ vid.id }}">
              {% if vid.made_by and vid.business_logo.is_deleted == False %}
                {% if vid.business_logo %}
                  <img id='business_enlarge_img{{ vid.id }}'
                       src="{{ vid.business_logo.logo.url }}"/>
                {% endif %}
              {% else %}
                {% for def in default_logo %}
                  {% if def.made_by == vid.made_by.id %}
                    {% if vid.business_logo %}
                      <img id='business_enlarge_img{{ vid.id }}'
                           src="{{ def.business_logo.logo.url }}"/>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}-->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-xs-12 skigit_social_option"
            id="share_overlay{{ vid.id }}">
			<div class="name_boxrow">
        <div class="profile_ski">
          {% if request.user.is_authenticated %}
              <a href="{% url 'user_profile_display' username=vid.skigit_id.user.username %}">
                    <img src="{{ vid.skigit_id.user.profile.get_top_profile_img }}" class="img-responsive lazy" id="profile_{{ vid.id }}" alt="skigit">
              </a>
          {% else %}
              <a onclick="openMessage()">
                <img src="{{ vid.skigit_id.user.profile.get_top_profile_img }}"
                class="img-responsive lazy" alt="skigit" />
              </a>
          {% endif %}
        </div>
        <div class="skigit_creator">

          <!--<div class="box_skigitname">
            <a href="{% url 'user_profile_display' username=vid.skigit_id.user.username %}">

            </a>
          </div>-->

            <div class="box_linkname">
              <p href="{% url 'user_profile_display' username=vid.skigit_id.user.username %}" title="" target="_blank">
                {{ vid.skigit_id.user.username }}
              </p>
            </div>

        </div>
      </div>

          <div class="text-center skigit_play">
            <a href="{% url 'skigit_data' vid.pk %}"
               onclick="viewCount({{ vid.pk }})"
               title="Play {{ vid.title }} Skigit" class="skigit_playback hidden-xs hidden-sm"
               data-skigit="#{{vid.pk}}">
              <img src="{% static 'images/Skigit_Logo_Glow.png' %}"
                   title="Play Skigit" class="lazy"/>
            </a>
            <a href="{% url "skigit_data" vid.pk %}"
               onclick="viewCount({{ vid.pk }})"
               data-skigit="#{{vid.pk}}mobile"
               data-toggle="mobile"
               title="Play {{ vid.title }} Skigit" class="skigit_playback hidden-lg hidden-md">
              <img src="{% static 'images/Skigit_Logo_Glow.png' %}"
                   title="Play Skigit" style="padding-top: 10px;" class="lazy"/>
            </a>
          </div>

          <!--<ul class="list-inline bug_menu skigit_social_option_container pull-left">-->


            {% if request.user.is_authenticated %}

              <span class="">
                  <a href="{% url 'skigit_plugin' vid.id %}">
                    <img src="{% static 'images/icons/plug_glow.png' %}" class="plugin text-center lazy"
                         title="Plug-In" />
                  </a>
                </span>

              {% if vid.skigit_id.id in video_likes %}
                <span class="text-center" style=" height: 60px!important;width: 60px;margin: -18px -12px 0 0;">
                  <a class="like"
                     onclick="like_unlike_entry('like_{{ vid.skigit_id.id }}',{{ vid.skigit_id.id }})"
                     id="like_{{ vid.skigit_id.id }}" data-userid="1"
                     title="Unlike" data-pid="{{ vid.skigit_id.id }}">
                    <img src="{% static 'images/icons/heart_orange_glow.png' %}"
                         class="img-responsive lazy"id="thumb-hover-icon" />
                  </a>
                </span>
              {% else %}
                <span class="text-center" style=" height: 60px!important;width: 60px;margin: -18px -12px 0 0;">
                  <a class="unlike"
                     onclick="like_unlike_entry('like_{{ vid.skigit_id.id }}',{{ vid.skigit_id.id }})"
                     id="like_{{ vid.skigit_id.id }}"
                     data-userid="1" title="Like"
                     data-pid="{{ vid.skigit_id.id }}">
                    <img src="{% static 'images/icons/heart_blue_glow.png' %}"
                     class="img-responsive lazy" id="thumb-hover-icon" />
                  </a>
                </span>
              {% endif %}
              <span class="libnk_skigitshair_entry" id="share_entry_overlay">
                <a id="" data-toggle="modal" data-target="#share-modal{{ vid.id }}">
                  <img src="{% static 'images/icons/sharing_overlay.png' %}"
                       height="40" width="40"
                       class="share text-center img-responsive lazy" id="thumb_share_overlay" title="Share" />
                </a>
              </span>

            {% else %}
              <span>
                <a onclick="openMessage()">
                  <img src="{% static 'images/icons/plug_glow.png' %}"
                       height="40" width="60" class="plugin text-center lazy"
                       title="Plug-In" />
                </a>
              </span>
              <span class="text-center">
                <a class="liked" onclick="openMessage()"
                   data-userid="0" title="Like">
                  <img src="{% static 'images/icons/heart_orange_glow.png' %}"
                         class="img-responsive lazy" id="thumb-hover-icon"/>
                </a>
              </span>
              <span>
                <a onclick="openMessage()" class="skigit_share">
                  <img src="{% static 'images/icons/sharing_overlay.png' %}"
                       height="40" width="40" class="share text-center img-responsive lazy"
                       title="Share" />
                </a>
              </span>
            {% endif %}
         <!-- </ul>-->
		  <span class="my_awsome_things" id="my_awesome_thing_entry_index">
            {% if request.user.is_authenticated %}
              <a onclick="learnMoreClick({{ vid.skigit_id.user.id }}, {{ vid.skigit_id.id }}, '{{ vid.bought_at_url }}')"
                 title="Learn More"
                 id="learn_more_icon"><img src="https://static.skigit.com/images/icons/learn_more_ovelay_icon.png" class="lazy">
              </a>
            {% else %}

             <a href="#" title="Learn More"
                 onclick="openMessage()" data-toggle="skigit-modal"
                 data-dismiss="skigit-modal"
              id="learn_more_icon"><img src="https://static.skigit.com/images/icons/learn_more_ovelay_icon.png" class="lazy">
              </a>

            {% endif %}
          </span>

        </div>
      </div>


    </div>
  </div>

  {% if request.user.is_authenticated %}
    <div class="modal fade" id="share-modal{{ vid.id }}" role="dialog">
      <div class="modal-content" style="-webkit-box-shadow: none;box-shadow: none;">
        <!-- Modal content Entry_index.html-->
        <div class="modal-content">
          {% include 'includes/friends_share.html' %}
        </div>
      </div>
    </div>
  {% endif %}

{% endfor %}
<div class="clearfix"></div>
{% show_more ' ' ' ' 'show-more' %}
