{% if request.user.is_authenticated %}

<div class="form-group " style="margin-top: 40px;line-height: 2.8;">
   <span>
     I agree to the
     <a class="blue" href="/about-us/terms-of-service/" target="_blank" style="color: #0381c3;font-weight:bold">Skigit Terms
     of Service</a> , <a class="blue" href="/about-us/acceptable-use-policy/" style="color: #0381c3;font-weight:bold" target="_blank">Skigit Acceptable Use Policy</a> and <a class="blue" href="/about-us/privacy-policy/" target="_blank" style="color: #0381c3;font-weight:bold">Privacy Policy</a>
   </span>
   <input required="required" type="checkbox" id="type_check" tabindex="5" name="type_check">
   <label id="type_check-error" class="checkbox-label error" for="type_check"></label>
</div>

<div class="form-group" style="margin-top: 30px;line-height: 2.8;">
  <span>
    I confirm that I am at least 13 years of age
  </span>
  <input required="required" type="checkbox" id="ageconfirm_check" tabindex='7' name="ageconfirm_check">
  <label id="ageconfirm_check-error" class="checkbox-label error" for="ageconfirm_check"></label>
</div>

{% else %}

<div class="form-group" style="margin-top: 40px;line-height: 2.8;">
   <span>
     I agree to the <a class="blue" href="/about-us/terms-of-service/" target="_blank" style="color: #0381c3;font-weight:bold">Skigit Terms
     of Service</a> and <a class="blue" href="/about-us/privacy-policy/" target="_blank" style="color: #0381c3;font-weight:bold">Privacy Policy</a>
   </span>
   <input required="required" type="checkbox" id="type_check" tabindex="5" name="type_check">
   <label id="type_check-error" class="checkbox-label error" for="type_check"></label>
</div>

<div class="form-group" style="margin-top: 30px;line-height: 2.8;">
  <span>
    I agree to the <a class="blue" href="/about-us/acceptable-use-policy/" style="color: #0381c3;font-weight:bold" target="_blank">Skigit Acceptable Use Policy</a>
  </span>
  <input required="required" type="checkbox" id="usepolicy_check" tabindex="6" name="usepolicy_check">
  <label id="usepolicy_check-error" class="checkbox-label error" for="usepolicy_check"></label>
</div>

<div class="form-group" style="margin-top: 30px;line-height: 2.8;">
  <span>
    I confirm that I am at least 13 years of age
  </span>
  <input required="required" type="checkbox" id="ageconfirm_check" tabindex='7' name="ageconfirm_check">
  <label id="ageconfirm_check-error" class="checkbox-label error" for="ageconfirm_check"></label>
</div>

{% endif %}
