{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block main_video_block %}
{% endblock %}

{% block window_page_title_block %}
    Guidelines - Skigit
{% endblock %}

{% block window_page_meta_block %}
    <meta property="og:site_name" content="Skigit" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://demo.mrphpguru.com/skigitdev/step-1/" />
    <meta property="og:title" content="Guidelines - Skigit" />
    <script type='text/javascript' src='static/skigit/js/jquery.min.js?ver=4.3.1'></script>

{% endblock %}

{% block main_div_block %}
    <div id="main">
        <div class="wrap cf">
            <div id="content" role="main">
                <div class="post-718 page type-page status-publish hentry" id="post-718">
                    <div class="page-content rich-content innerPageContent">
                        <h1 class="sageo" style="font-size:28px;font-family:'segoe_print' !important">Create a Skigit &#8230; share your Life</h1>
                        <p>Short video stories (a.k.a skigits) can be in any style but we recommend you incorporate something that you&#8217;ve used, experienced and love&#8230;something, someone or someplace that has special meaning to you. Let the whole world know about it in a way that only you can express. Co-star in your own story along with your most awesome thing!</p>
                        <p>Think of it this way, you can use your favorite people, places, things and activities as props in order to&#8230;</p>

                        <ul>
                            <li>Highlight their fantastic and remarkable value to the world.</li>
                            <li>Create a dramatic story depicting how it&#8217;s affected your life and why it means so much to you.</li>
                            <li>Create a fantasy using your awesome subject and the cast of your choosing.</li>
                            <li>Vibra-skigit and harmonize your favorite thing.</li>
                            <li>Make others laugh hysterically as they watch your wacky brand of wit and humor in action.</li>
                            <li>Show-off your favorite thing in any skigit-friendly manner you wish.</li>
                            <li>Plug into skigits to create groups of like-minded followers with those sharing similar experiences with similar things.</li>
                        </ul>
                        <p>If you have any questions about how to sign up for skigit or upload videos, visit skigit’s frequently asked questions page at <a href="#">http://www.skigit.com/faq.</a></p>
                        <span class="imgLeft"><img src="{% static 'skigit/detube/images/skigit_friendly.png' %}" width="50" alt=""/></span>
                        <h3>Making it “Skigit Friendly”</h3>
                        <div class="clearfix"></div>
                        <p>Skigit works best when you</p>

                        <ul>
                            <li>categorize your video skigits appropriately in the <strong>My Skigit Category</strong> and <strong>My Subject Category</strong>  fields.</li>
                            <li>identify makers, resellers and proprietors of your subject in the<strong> My awesome thing was made by</strong> fields. This helps viewers in know and learn more about your subject&#8217;s maker. </li>
                            <li>add the makers logo in the <strong>Spice up your Skigit thumbnail </strong> so that viewers can get more information about you&#8217;re maker. The logo will appear in the thumbnail allowing users to have a direct link to the maker and the item information.</li>
                            <li>help viewers learn where to purchase your item by entering the website link where your purchased it or where it can be purchased in the <strong>I bought my awesome thing at </strong>field.</li>
                            <li>provide insight to viewers in your own words, in the <strong>Why my awesome thing rocks! </strong>field. Use this to explain why your awesome thing is so awesome!</li>
                        </ul>

                        <span class="imgLeft"><img src="{% static 'skigit/images/drama.png' %}" width="50" alt=""/></span>
                        <h3>Dramaskigit</h3>
                        <div class="clearfix"></div>
                        <p>Create a story about your awesome subject. Add a plot, interesting characters and sprinkle in some creativity for others to see. Convey the heart-felt meaning of your awesome thing by evoking emotion, make a connection and drawing viewers into your world.</p>
			<span class="imgLeft"><img src="{% static 'skigit/images/Demo.png' %}" width="50" alt=""/></span>
                        <h3>Demoskigit</h3>
                        <div class="clearfix"></div>
                        <p>Provide a physical demonstration and highlight the features of your awesome thing and how it works.  Show off all of it’s great features for the whole world to see. Show others how they would be as cool as you if they had your awesome thing. Make use of flashy catchphrases, repeat basic ideas or employ scientist-like characters, celebrities or a guest host in your skigit. Give us the straight dope about your awesome person, place, thing or thing to do.  Be witty, creative, colorful and innovative but remember to keep it tasteful.</p>
			<span class="imgLeft"><img src="{% static 'skigit/images/selfie.png' %}" width="50" alt=""/></span>
                        <h3>Selfieskigit</h3>
                        <div class="clearfix"></div>
                        <p>Are you serious? A self-portrait video, typically taken with a hand-held digital camcorder or video phone?  We say “just do it” with your camcorder held at arm’s length or in a mirror, and include either yourself or as many people as can be in focus. But don’t forget to include your awesome thing. Did you know, selfies taken that involve multiple people are known as “group selfies”? Who’da thunk it?!</p>
			<span class="imgLeft"><img src="{% static 'skigit/images/vibra.png' %}" width="50" alt=""/></span>
                        <h3>Vibraskigit</h3>
                        <div class="clearfix"></div>
                        <p>Don&#8217;t just be a one-hit wonder, blow your own horn and be the star. Create your skigit vibe using music, song and dance with a catchy melody, mesmerizing harmony and a thunderous beat. Get your friends and coworkers to sing and dance the praises of your favorite things. Pull out all the stops!</p>
			<span class="imgLeft"><img src="{% static 'skigit/images/wacki.png' %}" width="50" alt=""/></span>
                        <h3>Wackiskigit</h3>
                        <div class="clearfix"></div>
                        <p>Make your skigit funny and Zany&#8230;inject a healthy dose of side-splitting wackiness! Inject your brand of humor for others to see. Show off your lighter side when letting others know why your thing is so way-out cool. Don&#8217;t hold back any of that creative energy but don&#8217;t get too carried away and remember to keep it tasteful.</p>

                        <h3>Plug a skigit</h3>
			<div class="clearfix"></div>
                        <p>You can plug into existing skigits by creating your own skigit that features either the same awesome thing or the same awesome brand, maker, proprietor, person, team, activity, place&#8230; you get the idea. Plug in and make one ginormous superskigit. That&#8217;s what we&#8217;re talkin&#8217; &#8217;bout!</p>

                    </div>
                </div>
                <!--end .hentry-->

            </div>
            <!--end #content-->

        </div>
    </div>
{% endblock %}
