<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--[if IE 6]>
<html class="ie ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<!--[if lt IE 8]>
<link href="../detube/IE8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 9]>
<link href="../detube/IE9.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% load staticfiles %}
{% load i18n %}
{% load category_list %}

<head>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>

<!-- BS JavaScript -->
    <!--        Meta Content              -->
    <title>Home - Skigit | Show us your awesome thing!</title>
        <meta name="description" content="Skigit" />
        <meta property="og:type" content="video">
        <link rel="image_src" href="http://skigit.xcubeinc.com:8000/media/skigit/profile/15/10/09/unnamed.jpg" />
        <meta property="og:title" content="Skigit" />
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:image" content="http://skigit.xcubeinc.com:8000/media/skigit/profile/15/10/09/unnamed.jpg"/>
        <meta name="description" content="Skigit"/>
        <link rel="image_src" href="http://skigit.xcubeinc.com:8000/media/skigit/profile/15/10/09/unnamed.jpg" />
        <meta property="og:site_name" content="Skigit"/>
        <meta property="og:description" content="Skigit"/>
        <meta property="fb:app_id" content="1691034704506371" />
        <meta itemprop="name" content="Skigit" />
        <meta itemprop="description" content="Skigit" />
        <meta itemprop="image" content="http://skigit.xcubeinc.com:8000/media/skigit/profile/15/10/09/unnamed.jpg" />
        <meta name="description" content=  "Skigit"/>
        <meta name="keywords" content="Skigit" />
        <meta name="rating" content="Skigit"/>
        <meta name="revisit-after" content="1 days"/>
        <meta name="robots" content="index,follow"/>
        <meta name="Author" content="(c) Skigit"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Skigit">
        <meta name="twitter:creator" content="@Skigit">
        <meta name="twitter:title" content="Skigit">
        <meta name="twitter:image" content="http://skigit.com/static/skigit/images/img/SNPostInvite2.png">
        <meta property="og:title" content="Skigit" />
        <meta property="og:image" content="http://skigit.com/static/skigit/images/img/SNPostInvite2.png" />
        <meta property="og:description" content="Join Skigit" />
    <!--     End Meta Content              -->

    <link rel="shortcut icon" href="{% static 'skigit/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'skigit/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'skigit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'skigit/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'skigit/css/app.css' %}">
    <link href="{% static 'skigit/css/lightbox.min.css' %}" rel="stylesheet">

    <style>

        .potfolio_box {
            display: table;
            width: 100%;
        }

        .potfolio_box ul {
            display: table;
            margin: 0 auto;
        }
        .potfolio_box li {
            width: 220px !important;
        }
        .error {
            background-color: rgba(222, 67, 67, 0) !important;
            border-color: #c43d3d !important;
            color: rgb(255, 0, 0)  !important;
        }

    </style>

    <style>

        .endless_more
        {
            position: relative;
            -webkit-animation: mymove 1s infinite;
            animation: mymove 1s infinite;
            color: #1686a7;
        }

        .sort_arrow{
            font-family: none !important;
            font-size: 15px;
            color:rgb(28,161,230) !important
        }

        @-webkit-keyframes mymove {

            to
            {
                top:2px;
            }

            20%
            {
                top:4px;
            }

            30%
            {
                top:6px;
            }

            40%{
                top:8px;
            }

            50%
            {
                top:10px;
            }

            60%
            {
                top:8px;
            }

            70%
            {
                top:6px;
            }
            80%
            {
                top:4px;
            }
            90%
            {
                top:2px;
            }

            from
            {
                top:0px;
            }

        }

        @keyframes mymove {
            to
            {
                top:2px;
            }

            20%
            {
                top:4px;
            }

            30%
            {
                top:6px;
            }

            40%{
                top:8px;
            }

            50%
            {
                top:10px;
            }

            60%
            {
                top:8px;
            }

            70%
            {
                top:6px;
            }
            80%
            {
                top:4px;
            }
            90%
            {
                top:2px;
            }

            from
            {
                top:0px;
            }
        }
    </style>

    {% block extra_css %}
    {% endblock %}

    {% block head_inline_css_block %}
    {% endblock %}

    <script>
        var y = location.href;
        var pos = y.indexOf('post_id');
        if(pos!=-1)
        {
            window.close();
        }
    </script>

</head>

<body>

<div class="container">
    <div class="notify_msg_div">
        {% if messages %}
            {% for message in messages %}
                <div style="display:none;" {% if message.tags %} class="{{ message.tags }} message"{% endif %}><h3>{{ message }}</h3></div>
            {% endfor %}
        {% endif %}
    </div>

    {% user_navigation %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_video_1_content_div" style="10px 10px 0px 0px;">
    </div>
    

    <div class="container">

        <div class="row mar_zero" id="main" style="left: -15px;">
<div class="row" id="skigit_content_list">
        <div class="endless_page_template">
            {% block category_video_block %}
                {% include 'category/category_video.html' %}
            {% endblock category_video_block %}
        </div>
    </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="section-box">
						
                    <div class="section-content grid-small">
                        {% if category_current.cat_name|safe == "Dramaskigit" %}
                            {%if video_detail %}
                                <div class="categories-video-logo"> <img src="{% static 'skigit/detube/images/drama_skigit_logo.jpg' %}" /></div>
                            {% endif %}
                            <div class="categories-content-box"><span>Create a story about your awesome subject. Add a plot, interesting characters and sprinkle in some creativity for others to see.
                            Convey the heart-felt meaning of your awesome thing by evoking emotion, make a connection and drawing viewers into your
                            world.</span></div>

                        {% elif category_current.cat_name|safe == "Demoskigit" %}
                            {%if video_detail %}
                                <div class="categories-video-logo"> <img src="{% static 'skigit/detube/images/demo-skigit-logo.jpg' %}" /></div>
                            {% endif %}
                            <div class="categories-content-box"><span>Provide a physical demonstration and highlight the features of your awesome thing and how it works. Show off all of it’s great
                            features for the whole world to see. Show others how they would be as cool as you if they had your awesome thing. Make use of
                            flashy catchphrases, repeat basic ideas or employ scientist-like characters, celebrities or a guest host in your skigit. Give us the
                            straight dope about your awesome person, place, thing or thing to do. Be witty, creative, colorful and innovative but remember
                            to keep it tasteful.</span></div>
                        {% elif category_current.cat_name|safe == "Selfieskigit" %}
                            {%if video_detail %}
                                <div class="categories-video-logo"> <img src="{% static 'skigit/detube/images/selfie-skigit-logo.jpg' %}" /></div>
                            {% endif %}
                            <div class="categories-content-box"><span>Are you serious? A self-portrait video, typically taken with a hand-held digital camcorder or camera phone? We say “just do it”
                            with your camcorder held at arm’s length or in a mirror, and include either yourself or as many people as can be in focus. But
                            don’t forget to include your awesome thing. Did you know, selfies taken that involve multiple people are known as “group
                            selfies”? Who’da thunk it?!</span></div>
                        {% elif category_current.cat_name|safe == "Vibraskigit" %}
                            {%if video_detail %}
                                <div class="categories-video-logo"> <img src="{% static 'skigit/detube/images/vibra-skigit-logo.jpg' %}" /></div>
                            {% endif %}
                            <div class="categories-content-box"><span>Don’t just be a one-hit wonder, blow your own horn and be the star. Create your skigit vibe using music, song and dance with a
                            catchy melody, mesmerizing harmony and a thunderous beat. Get your friends and coworkers to sing and dance the praises of
                            your favorite things. Pull out all the stops!</span></div>
                        {% elif category_current.cat_name|safe == "Wackiskigit" %}
                            {%if video_detail %}
                                <div class="categories-video-logo"> <img src="{% static 'skigit/detube/images/wacki-skigit-logo.jpg' %}" /></div>
                            {% endif %}
                            <div class="categories-content-box"><span>Make your skigit zany, funny or inject a healthy dose of side-splitting wackiness! Inject your brand of humor for others to see.
                            Show off your lighter side when letting others know why your thing is so way-out cool. Don’t hold back any of that creative
                            energy but don’t get too carried away and remember to keep it tasteful.</span></div>
                        {% endif %}

                        {%if video_detail %}
                        <div class="categories-sort-box">
                            <ul>
                                <li>
{#                                    <a href="{% url 'date_sort_view' category_current.cat_slug order %}">Sort Date</a>#}
{#                                    {% if page_type == 'sort_date' %}#}
{#                                        <sapn class="sort_arrow">#}
{#                                            {% if order == 1 %}&#9206;{% else %}&#9207;{% endif %}#}
{#                                        </sapn>#}
{#                                    {% endif %}#}
                                </li> |
                                <li>
{#                                    <a href="{% url 'title_sort_view' category_current.cat_slug order_title %}">Titles#}
{#                                    </a>#}
{#                                    {% if page_type == 'sort_title' %}#}
{#                                        <sapn class="sort_arrow">#}
{#                                            {% if order_title == 1 %}&#9206;{% else %}&#9207;{% endif %}#}
{#                                        </sapn>#}
{#                                    {% endif %}#}
                                </li> |
                                <li>
{#                                    <a href="{% url 'views_sort_view' category_current.cat_slug order_views %}">Views#}
{#                                    </a>#}
{#                                    {% if page_type == 'sort_views' %}#}
{#                                        <sapn class="sort_arrow">#}
{#                                            {% if order_views == 1 %}&#9206;{% else %}&#9207;{% endif %}#}
{#                                        </sapn>#}
{#                                    {% endif %}#}
                                </li> |
                                <li>
{#                                    <a href="{% url 'like_sort_view' category_current.cat_slug order_likes %}">Likes#}
{#                                    </a>#}
{#                                    {% if page_type == 'sort_likes' %}#}
{#                                        <sapn class="sort_arrow">#}
{#                                            {% if order_likes == 1 %}&#9206;{% else %}&#9207;{% endif %}#}
{#                                        </sapn>#}
{#                                    {% endif %}#}
                                </li> |
                                <li>
{#                                    <a href="{% url 'random_sort_view' category_current.cat_slug %}">Random#}
{#                                    </a>#}
{#                                    {% if page_type == 'sort_random' %}#}
{#                                        <sapn class="sort_arrow" >&#9207;</sapn>#}
{#                                    {% endif %}#}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                {% include 'includes/skigit_list.html' %}
            </div>
            {%endif %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <footer>
                        <p id="copyright" class="text-center">Copyright 2015 <a href="">©Skigit</a> All rights reserved.
                            <a href="#" >ASPL</a>
                    </footer>
                </div>
            </div>
            <!-- end of Footer row -->

            <!--Login  Models -->
            {% if request.user.is_authenticated %}
                <div aria-hidden="true" aria-labelledby="Log Out" role="dialog" tabindex="-1" id="logout_model" class="modal fade">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="row mar_zero">
                                <div class="modal-header">
                                    <a href="#" data-dismiss="modal" class="pull-right" >
                                        <img src="{% static 'skigit/images/new_icons/close(32x32).png' %}" height="32" width="32" />
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="row mar_zero">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <img src="{% static 'skigit/images/logo_logout.png' %}" class="img-responsive1" height="82" width="110"/>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text_center margin_tb_15">
                                            <p class="blue text-center">You are attempting to logout.</p>
                                            <p class="blue text-center">Do you really want to leave us?</p>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text_center margin_tb_15">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text_center">
                                                <a href="#" class="btn" onclick="location.href={% url 'logout_user' %}" >&nbsp;&nbsp;<span> ok </span> &nbsp;&nbsp;</a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text_center">
                                                <a href="#" class="btn" data-dismiss="modal" > <span> Cancel </span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div aria-hidden="true" aria-labelledby="smallModal1" role="dialog" tabindex="-1" id="smallModal" class="modal fade">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero" id="login_section_wwlcme">
                                <div class="row mar_zero">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_login_section padd_zero">
                                        <h3>&nbsp;</h3>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:20px 0px;">
                                        <form name="loginform" id="form_login" method="post">
                                            <input type="hidden" id="base_location" name="base_location" value="{{ request.build_absolute_uri }}" />
                                            <div class="username form-group">
                                                <label for="user_login">
                                                    Email            </label>
                                                <input type="text" class="input form-control" tabindex="1" id="user_login" size="20" value="" name="log">
                                            </div>
                                            <div class="password form-group">
                                                <label for="user_pass">
                                                    Password            </label>
                                                <input type="password" class="input_password form-control" tabindex="2" id="user_pass" size="20" value="" name="pwd">
                                            </div>
                                            <div class="login_fields form-group">
                                                <input type="submit" tabindex="3" value="Login" class="btn btn-default btn-sm" name="Login">

                                            </div>
                                            <div class="lost-password text-center form-group">
                                                <a tabindex="4" class="sign-up" href="{% url 'register_type' %}">Sign Up?</a>
                                                &nbsp; &nbsp;
                                                <a tabindex="5" href="{% url 'reset' %}">Forgot Password?</a>
                                            </div>

                                            <span id="wp-social-login-connect-with">Connect with:</span>

{#                                            <div>#}
{#                                                <a tabindex="" class="social_sing_ups" href="{% url 'social_login' 'facebook' %}" >#}
{#                                                    <img alt="Facebook" title="Facebook" src="{% static 'skigit/images/facebook.png' %}" />#}
{#                                                </a>#}
{#                                                <a tabindex="" class="social_sing_ups" href="{% url 'social_login' 'google' %}" >#}
{#                                                    <img alt="Google" title="Google" src="{% static 'skigit/images/google.png' %}" />#}
{#                                                </a>#}
{#                                                <a tabindex="" class="social_sing_ups" href="{% url 'social_login' 'twitter' %}" >#}
{#                                                    <img alt="Twitter" title="Twitter" src="{% static 'skigit/images/twitter.png' %}" />#}
{#                                                </a>#}
{#                                                <a tabindex="" class="social_sing_ups" href="{% url 'social_login' 'yahoo' %}" >#}
{#                                                    <img alt="Yahoo!" title="Yahoo!" src="{% static 'skigit/images/yahoo.png' %}" />#}
{#                                                </a>#}
{#                                                <a tabindex="" class="social_sing_ups" href="{% url 'social_login' 'linkedin' %}" >#}
{#                                                    <img alt="LinkedIn" title="LinkedIn" src="{% static 'skigit/images/linkedin.png' %}" />#}
{#                                                </a>#}
{#                                            </div>#}

                                        </form>
                                        <div class="form-group" style="font-family: Segoe_Print;" id="login_ingo_msg">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!--Video Playback Modal -->
            {%  for vid in videos_latest %}
                <div aria-hidden="true" id='{{vid.pk}}' class=" modal fade"  tabindex="-1" role="dialog" aria-labelledby="Play Video">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- /container -->


        <script type="text/javascript" src="{% static 'skigit/js/libs/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'skigit/js/libs/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'skigit/js/libs/notify.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'skigit/js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'skigit/js/endless-pagination.js' %}"></script>
        <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollChunkSize: 5,
            onCompleted: function(data) { }});
        </script>

<script>
    jQuery(document).ready(function(){
        jQuery('.modal').on('show.bs.modal', function(){
            jQuery("#homeframe").each(function() {
                this.contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
            });
        });

        jQuery('.modal').on('hidden.bs.modal', function (e){
            jQuery("iframe").each(function() {
                this.contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
            });
            return e.preventDefault()
        });
    })
</script>

<script>
    $ = jQuery.noConflict()
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    var id=getUrlVars()['id'];

    $(document).ready(function(){

        $(".count-s").click(function(){
            $(".count-target").addClass('open');
            $(".p_body").css("display", "block");
        });

        $(".p_body").click(function(){
            $(".count-target").removeClass('open');
            $(".p_body").css("display", "none");
        });

        // Inject YouTube API script
        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


        /*** Stop playing Video on Model Box Close ***/
        $('.close_btn').click(function(e) {
            $("iframe").each(function() {
                this.contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');
            });
            return e.preventDefault()
        });


        if(id) {
            $(".skigit_playback[data-target='#"+id+"']").click();
        }

        $('#id_statistic').click(function(){
            var skigit_id = $('#id_statistic_skigit').val()
            $.post("/skigit_statistics/", {skigit_id:skigit_id}, function(data){
                if(data.is_success ){

                }
            });
        });

    });

</script>

</body>
</html>