{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Making Your Skigit{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="wrap cf">

      <div role="main" id="content main-fnt-mch">

        <div id="post-7692" class="post-7692 page type-page status-publish hentry">
          <h1 class="sageo">Making Your Skigit</h1>

          <div class="page-content rich-content">
            <p>We want to know about you and so do others. Make your skigit be an accurate expression of you and the
              things you want others to know about you. making a skigit is a no-brainer Just follow these easy steps and
              your on your way to video fame!</p>
            <h2 class="sageo">1. Arm yourself with a Video Camera, Smartphone or even a Webcam</h2>
            <p>Keep your video camera and smartphone handy wherever you go. Skigits are best made when you least expect
              it…in you favorite restaurant, while your out visiting with family and friends, while using your favorite
              thing or while on vacation when feel awe-inspired by the location, surroundings or vista.&nbsp;</p>
            <h2 class="sageo">2. Put together a quick script or not</h2>
            <p>Some people choose to script out their skigit and that&rsquo;s just fine. But skigits can be way cool
              when you create them totally unscripted, off-the-cuff, spur of the moment, shooting from the hip, throwing
              caution to the wind…</p>
            <h2 class="sageo">3. Don&rsquo;t forget to show us your favorite thing</h2>
            <p>Skigits are all about sharing your favorite people, places and things so whatever you do, don&rsquo;t
              forget to talk about, focus on, demo or have fun with your favorite thing in your skigit. After all, it&rsquo;s
              really all about the fun, right?</p>
            <h2 class="sageo">Watch these examples of skigits we simply love!</h2>
          </div>
          <p>
            <iframe width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"
                    src="http://www.youtube.com/embed/tqWDgQnjUzI?wmode=transparent"></iframe>
          </p>
        </div><!--end .hentry-->

      </div><!--end #content-->


      <div role="complementary" id="sidebar">
      </div><!--end #sidebar-->
    </div>
  </div>
{% endblock %}
