{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ block.super }}Skigitology{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="wrap cf">
      <div id="content" role="main">
        <div class="post-5969 page type-page status-publish hentry" id="post-5969">
          <div class="page-content rich-content innerPageContent img-up">
            <h1 class="sageo" style="font-size:28px;">Skigitology</h1>
            <p>Ski&#8217;·jit·ol·o·gy, Ski&#8217;·jitˈäləjē/noun informal humorous noun: Skigitology; plural noun:
              Skigitologies; a subject of study or a branch of knowledge in Skigit</p>

            <p>Whether you’re new to Skigit or want a refresher, we&#8217;ll will get you pointed in the right
              direction! The info here will help you understand Skigit terminology for use on the web and with our
              apps.</p>

            <p style="text-align: center;"><a href="#primaryskigit">Primary Skigit</a> | <a href="#plugin_skigit">Plug-in
              Skigit</a> | <a href="#superskigit">Superskigit</a> | <a href="#sperks">Sperks</a> | <a href="#home_page">Home
              Page</a> | <a href="#following">Following</a> | <a href="#sharing">Sharing Skigits</a></p>
            <p style="text-align: center;"><a href="#Creator">View a Creator&#8217;s Skigits</a> | <a href="#Favorites">Favorites</a>
              | <a href="#Posting">Posting</a> | <a href="#finding_skigits">Finding Skigits on Skigit</a> | <a
                  href="#awesomethings">Awesome Things</a> | <a href="#account">Your Skigit account</span></a></p>
            <hr/>
            <p><a name="primaryskigit"></a></p>
            <h3><a name="primaryskigits"></a>Primary Skigit</h3>
            <span class="imgRight"><img src="{% static 'images/primary.png' %}" alt="Primary Skigit"
                                        width="89" height="58"/></span>
            <div class="clearfix"></div>
            <p>A Primary skigit is a jet-setter, a leader, a ground-breaker &#8230;master of their domain! It&#8217;s a
              persuasive, charismatic skigit that others can&#8217;t wait to plug into and the source of every
              Superskigitt. The Primary skigit creates a lasting impression with the ability to grab viewers and not let
              go, no matter how hard the try to shake loose.</p>
            <hr/>
            <h3><a name="plugin_skigit"></a>Plug-in Skigit</h3>
              <span class="imgRight">
              <img src="{% static 'images/Plug-in-n.png' %}"  width="70" height="75" />
              
              </span>
            <div class="clearfix"></div>
            <p>The Plug-in skigit is a way for you to connect with other skigits that depict a common thing, idea or
              theme. It&#8217;s a way for you to either start or become part of a group of like-minded skigits. The rule
              of thumb is, if you like it and endorse it&#8230; plug-in and join the group.</p>
            <hr/>
            <h3><a name="superskigit"></a>Superskigit</h3>
            <span class="imgRight"><img src="{% static 'images/superskigit.png' %}"
                                        alt="Superskigit"/></span>
            <div class="clearfix"></div>
            <p>The amazing Superskigit! The Primary Skigit appears out of nowhere, suddenly plug-ins start to attach
              themselves and the Superskigit emerges, a potentially unending train of connected skigits with a Primary
              at the helm! &#8230; a bit much? We don&#8217;t think so.</p>
            <hr/>
            <h3><a name="sperks"></a>Sperk Rewards</h3>
              <span class="imgRight">
              <img src="{% static 'images/sperks.png' %}" width="80" height="59"/></span>
            <div class="clearfix"></div>
            <p>Do you like scavenger hunts? Earn awesome rewards just for uploading a skigit of your favorite thing and
              displaying the makers logo! When you see a logo displayed on a skigit thumbnail, click it to find out what
              that company is offering skigit creators. You can also click the Sperks icon in the header menu or Skigit
              upload page after selecting the maker to find out what brands are offering. It&#8217;s just another fun
              and unique way to enjoy skigit!</p>

            <hr/>
            <h3><a name="home_page"></a>Home Page</h3>
            <span class="imgRight"><img src="{% static 'images/logo.png' %}" alt="Home Page" width="85"
                                        height="65"/></span>
            <div class="clearfix"></div>
            <p>When you first log in, you’ll land on the site home page. This is a collection of all skigits on the
              site, and it updates every time a new skigit is added. This is your home base so whenever you navigate
              away then want to find this page again, just click the Skigit logo to return home.</p>

            <hr/>
            <h3><a name="following"></a>Following</h3>
            <span class="imgRight"><img src="{% static 'images/share-new.png' width="45" height="51" %}"/></span>
            <div class="clearfix"></div>
            <p>Following people will enhance your Skigit experience by helping you stay close to the creators whose
              style and taste you best identify with. Discover the myriad of people that are creating skigits and start
              following those you like. It&#8217;s all about what you like, not just who you know, so if you come across
              a skigit you like, follow it&#8217;s creator and stay in touch with all of their latest works.</p>
            <p>To follow a person, click the Follow logo in the Skigit viewing page to follow all of their current and
              future skigits.</p>
            <hr/>
            <h3><a name="sharing"></a>Sharing Skigits</h3>
              <span class="imgRight">
              <img src="{% static 'images/share_icon_sm.png' width="48" height="45" %}"/>
              
              
             </span>
            <div class="clearfix"></div>
            <p>Don&#8217;t be selfish, Skigit offers an easy way to share your favorite skigits with anyone you choose.
              Sharing is an ideal way to tell you friends and family about skigits that they may not be aware of. It&#8217;s
              a great way to share the things you like with the people that mean the most to you. You&#8217;ll be able
              to locate this icon in every skigit thumbnail and also by clicking on the View icon in the skigit view
              popup window located underneath the video screen on the right-hand side.</p>

            <hr/>
            <h3><a name="Creator"></a>View a Creator&#8217;s Skigits</h3>
              <span class="imgRight">
              <img src="{% static 'images/creator_large.png' width="63" height="39" %}"/>
              
               </span>
            <div class="clearfix"></div>
            <p>Connecting with others is not always that easy. At Skigit, we give you the ability to view the work of
              your favorite creators simply by clicking on the View icon in the skigit view popup window. You find this
              icon located underneath the video screen on the right-hand side. Click on it and you&#8217;ll get to see
              all of the great works of art from the creators you love!</p>

            <hr/>
            <h3><a name="Favorites"></a>Add to Favorites</h3>
              <span class="imgRight">
              <img src="{% static 'images/favorites_large.png' width="50" height="50" %}"/>
              
              </span>
            <div class="clearfix"></div>
            <p>See a skigit you just can&#8217;t get enough of? Add it to your favorites page! You find this icon by
              clicking on the View icon in the skigit view popup window located underneath the video screen on the
              right-hand side. Click on it and you&#8217;ll never have to remember where you saw the skigit you fell in
              love with. From then on, just go to your My Favorites page through via the header drop down menu, <strong>My
                Favorites</strong>.</p>

            <hr/>
            <h3 style="width:100%;"><a name="Posting"></a>Posting Skigits to your Favorite Sites</h3>
            <span class="imgRight" style=" padding-left:0px;"><img src="{% static 'images/post.png' %}"
                                                                   alt="Favorites" width="222" height="37"/> </span>
            <p>Post to the max! We encourage you to post any skigit of yours or those that you like, on other sites for
              all the world to see. We will continuously update your ability to post to other sites so if we aren&#8217;t
              providing you that ability, we wanna hear from you.</p>

            <hr/>
            <h3><a name="finding_skigits"></a>Finding Skigits on Skigit</h3>
            <span class="imgRight"><img src="{% static 'images/search.png' %}" alt="Favorites" width="228"
                                        height="38"/> </span>
            <div class="clearfix"></div>
            <p><strong>Search</strong></p>
            <p>To find skigits, just do a quick search in the search box and this is what may find:</p>
            <ul>
              <li>
                A skigit thumbnail containing the word you typed in the search box in the skigit title.
              </li>
            </ul>
            <p>If you entered the word &#8220;bugle&#8221; and bugle is not a word in the title of any skigit, you may
              will see</p>
            <p>Apologies, but no results were found.</p>
            <p>You can also locate skigits by browsing categories or locating your awesome thing within the listing on
              the Awesome Things tab found in the header menu on each page.</p>

            <hr/>

            <h2><a name="awesomethings"></a>Awesome Things</h2>
            <p>Looking for ideas for your next family getaway but don’t have a destination in mind yet? The Awesome
              Things page lets you browse different category feeds like</p>
            <ul>
              <li><strong>Animals and Pet Things</strong></li>
              <li><strong>Apparel, Clothing, Accessories and Fashion</strong></li>
              <li><strong>DIY, Hobby and Crafts</strong></li>
            </ul>
            <p>These feeds automatically update as new skigits are created within the category of interest.</p>

            <hr/>
            <h2><a name="account"></a>Your Skigit account</h2>
            <p><strong>Profile</strong> allows you to get to your personal profile. Just click the drop down list in the
              upper right hand corner of the header of any page, next to your photo. Then click <strong>Profile and
                Settings</strong> to edit your name and profile information entered at the time of registration. From
              here, to change your username, display name or profile description, click the <strong>Member
                Profil</strong>e button on your profile. Your display name is what shows up on your profile and on the
              skigits you create. Changing your profile picture is easy &#8211; click <strong>Edit Profile</strong> then
              click <strong>Change Picture</strong> to upload an image file from your computer. Other account settings
              such as<strong><strong> Change Password,</strong> <strong><strong>eNotifications,</strong></strong> Delete
                Account </strong>and<strong> My Statistics </strong>can be accessed in the header of the <strong>Member
                Profile</strong> page.</p>
            <hr/>
            <p>We hope this helps you get going! Email us for help at <a
                href="mailto:info@skigit.com ">info@skigit.com</a></p>
          </div>
        </div>
        <!--end .hentry-->

      </div>
      <!--end #content-->

    </div>
  </div>
{% endblock %}
