<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load category_list %}
{% load meta %}
{% load compress %}

<html lang="en" {% meta_namespaces_gplus %} ng-app="skigitApp">
<head {% meta_namespaces %}>
<meta name="google-site-verification" content="4JQ1v9A2J2GfhVfDtT1uOLhUVL3mNsnlMuxX5LQ4icI" />
  <title>{% block title %}Skigit | {% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, maximum-scale=1.0; user-scalable=0;">
  {% block extra_meta %}
    {% include 'meta/meta.html' %}
  {% endblock extra_meta %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@skigit">
  <meta name="twitter:domain" content="skigit.com">
  <meta property="og:image:height" content="600">
  <meta property="og:image:width" content="600">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link href="https://vjs.zencdn.net/7.6.0/video-js.min.css" rel="stylesheet">
  {% compress css %}    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock %}
  {% endcompress %}
  <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src='https://vjs.zencdn.net/7.6.0/video.min.js' ></script>
  <link rel="preload" href="{% static 'fonts/laouiSans.ttf' %}" as="stylesheet" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.0/Youtube.min.js"></script>
</head>

<body id="page-top" data-spy="scroll">
<div class="overlayErrorBox"></div>
<div id="errorBox">
  <img width="20" height="20" src="{% static 'skigit/images/new_icons/close(32x32).png' %}" onclick="close_error_box()"
       class="close-error-box">
  <img src="{% static 'images/logo.png' %}" style="margin:30px; width:150px">
  <div class="del-top error f_type"><strong><p style="font-weight: normal;">This Skigit is no longer available.</p></strong></div>
</div>

<div class="container">
  <div class="notify_join_msg" style="display: none;">
    <div style='top: 0px; z-index:99999;'  class='info message'>
      <h3>
        You  must be a Skigit member to access this feature. <br class="hidden-lg hidden-md" />
        <a href="/register" style='color:#FFC90E !important; text-decoration:underline !important'>Join Today!</a>
      </h3>
    </div>
  </div>
  <!-- <div class="notify_msg_div">
    {% if messages %}
      {% for ms in messages %}
        <div style="display:none;" {% if ms.tags %} class="{{ ms.tags }} message"{% endif %}>
          <h3>{{ ms }}</h3>
        </div>
      {% endfor %}
    {% endif %}
  </div> -->
    <!-- profile modal box -->
    <div class="overlay"></div>
    {% if messages %}
    {% for ms in messages %}
    <div id="profileBox">
        <div style="text-align: center !important;">
          <p>
            <img src="https://static.skigit.com/images/logo.png" alt="Skigit logo" style="width:80px; height:60px">
          </p>
      
          <p id="confirm_profile_text" style="padding: 0px 0; margin: 0 0 25px!important; color: white">{{ ms }}</p>
      
          <div class="del-bott" style="padding-bottom: 20px">
            <button type="button" onclick="close_profileBox()" id="ok_logout_logo">Ok</button>
          </div>
        </div>
    </div>
      {% endfor %}
      {% endif %}
  {% block main-header-block %}
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <header id="header">
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation" style="box-shadow: none; ">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </div>
            </div>
          </nav>
        <div class="logo center-align pull-left">
          <a href="/">
            <img src="https://static.skigit.com/images/logo_glow_2.png" alt="Skigit logo" id="header_logo">
          </a>
        </div>
		
		 
		
		
        <!--<div class="socialIcons horz pull-right">
          <div class="social-box"><a target="_blank" title="facebook" href="#"><img
              src="{% static 'images/facebook.png' %}" border="0" width="28" height="28" alt="facebook"/></a>
          </div>
          <div class="social-box"><a target="_blank" title="twitter" href="#"><img
              src="{% static 'images/twitter.png' %}" border="0" width="28" height="28" alt="twitter"/></a></div>
          <div class="social-box"><a target="_blank" title="MySpace" href="#"><img
              src="{% static 'images/myspace.png' %}" border="0" width="28" height="28" alt="MySpace"/></a></div>
          <div class="social-box"><a target="_blank" title="youtube" href="#"><img
              src="{% static 'images/youtube.png' %}" border="0" width="28" height="28" alt="youtube"/></a></div>
          <div class="social-box"><a target="_blank" title="Google+" href="#"><img
              src="{% static 'images/google.png' %}" border="0" width="28" height="28" alt="Google+"/></a></div>
          <div class="social-box"><a target="_blank" title="Vimeo" href="#"><img
              src="{% static 'images/vimeo.png' %}" border="0" width="28" height="28" alt="Vimeo"/></a></div>
          <div class="social-box"><a target="_blank" title="Tumblr" href="#"><img
              src="{% static 'images/tumblr.png' %}" border="0" width="28" height="28" alt="Tumblr"/></a></div>
        </div>-->
        {% user_navigation %}
      </header>
    </div>
  </div>
  <div class="row">
{#    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_video_1_content_div"></div>#}
    <div class="main_video_1_content_div"></div>
  </div>
  {% endblock main-header-block %}

  {% block content %}
  {% endblock %}
  {% block main_div_block %}
  {% endblock %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <footer>

        </footer>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="skigit-modal" role="dialog" style="display:none">
  <div class="modal-dialog modal-lg">
   <!-- Modal content base.html-->
    <div class="modal-content" style="-webkit-box-shadow: none;box-shadow: none; border:none">
    </div>
  </div>
</div>
<div class="modal fade" id="share-modal" role="dialog" style="display:none">
  <div class="modal-dialog modal-md">
    <!-- Modal content base.html-->
    <div class="modal-content" style="-webkit-box-shadow: none;box-shadow: none;border:none">
    </div>
  </div>
</div>

{% include 'javascripts.html' %}
{% compress js %}
  <script type="text/javascript">
    // To view general profile in friends page for Business users!
    {% if view_general_profile %}
      var VIEW_GENERAL_PROFILE = "yes";
    {% else %}
      var VIEW_GENERAL_PROFILE = "no";
    {% endif %}
  </script>
  {% block js %}
  {% endblock %}
{% endcompress %}

{% block js-from-url %}{% endblock js-from-url %}
</body>

</html>
