{% extends 'base.html' %}
{% load staticfiles %}
from django.contrib import messages

{% block main_video_block %}
{% endblock %}

{% block window_page_title_block %}
  {{ request_user.username }} Profile - Skigit
{% endblock %}

{% block window_page_meta_block %}
  <meta property="og:site_name" content="Skigit"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:title" content="{{ request_user.username }} Profile - Skigit"/>
{% endblock %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_nav_under_css_block %}
  <style type="text/css">
    form li {
      list-style: none !important;
    }

    .errorlist {
      color: red;
      font-family: segoe_print !important;
      margin-left: 200px;
    }

    .errorlist li {
      text-align: center;
    }
  </style>
{% endblock %}

{% block main_div_block %}
  <div id="main">
    <div id="content">
      <div class="padder">

        <div role="complementary" id="item-header">

          <div style="display:none;" class="bp-template-notice error" id="ErrorProfile">
          </div>

        </div><!-- #item-header -->

        <!-- #item-nav -->
        <div class="clearfix"></div>
        <div id="item-body">

          <div role="main" class="profile gen">

            <div class="gen-user-prof gen-user-prof1">

              <div class="col-md-4 col-sm-4 col-xs-6">

                <div class="main-wrap">
                  <div class="bl-text">Username</div>
                  <div class="blck-text">
                    {{ request_user.username }}
                  </div>
                </div>

                <div class="main-wrap">
                  <div class="bl-text">Gender</div>
                  <div class="blck-text">
                    {% if request_user_profile.gender %}
                      {% if request_user_profile.gender == 0 %}Male{% endif %}
                      {% if request_user_profile.gender == 1 %}Female{% endif %}
                    {% else %}
                      ----
                    {% endif %}
                  </div>
                </div>

                <div class="main-wrap">
                  <div class="bl-text">Date of birth</div>
                  <div class="blck-text">
                    {% if request_user_profile.birthdate %}
                      {{ request_user_profile.birthdate }}
                    {% else %}
                      ----
                    {% endif %}
                  </div>
                </div>

              </div>

              <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="{% url 'user_profile_display' request_user.username %}">
                  <img width="100" alt="Profile picture of {{ request_user.username }}"
                       class="avatar user-644-avatar avatar- photo"
                       {% if request_user_profile.profile_img %}src="{{ request_user_profile.profile_img.url }}" {% else %}
                       src='{% static "skigit/detube/images/noimage_user.jpg" %}'{% endif %}">
                </a>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-6">

                <div class="main-wrap">
                  <div class="bl-text">Country</div>
                  <div class="blck-text">
                    {% if request_user_profile.country %}
                      {{ request_user_profile.country }}
                    {% else %}
                      ----
                    {% endif %}
                  </div>
                </div>

                <div class="main-wrap">
                  <div class="bl-text">State</div>
                  <div class="blck-text">
                    {% if request_user_profile.state %}
                      {{ request_user_profile.state }}
                    {% else %}
                      ----
                    {% endif %}

                  </div>
                </div>

                <div class="main-wrap">
                  <div class="bl-text">City</div>
                  <div class="blck-text">
                    {% if request_user_profile.city %}
                      {{ request_user_profile.city }}
                    {% else %}
                      ----
                    {% endif %}
                  </div>
                </div>

              </div>

            </div>

            <div class="profile_aboutme">
              <h1>About Me</h1>
              <div class="clearfix"></div>
                            <span class="gen-prof-content">
                                {% if request_user_profile.about_me %}
                                  {{ request_user_profile.about_me }}
                                {% else %}
                                  ----
                                {% endif %}
                            </span>
              <div class="clearfix"></div>
              <div class="Reg_Error" id="editprofile_Error" style="display: none;"></div>
            </div>

            <div class="profileImageBusiness">
              <div>
                <div class="sk_bus_photos">
                  <div class="profile_aboutme"><h1>My Images</h1></div>
                  <ul>
                    {% for logo in extra_profile_img_url %}
                      <li>
                        <img style="width: 180px; " class="img-responsive" src="{{ logo }}">
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div><!-- #item-body -->
        </div><!-- padder -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}
