{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n%}
{% load category_list %}

{% block window_page_meta_block %}
    <title>{{ user.first_name }} {{ user.last_name }} | Profile</title>
    <meta name="description" content="Skigit" />
    <link rel="image_src" href="{% static 'img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta property="og:title" content="Skigit" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="http://arabic-media.com/img/ico/arabic-media-icon-100x110.jpg' %}"/>
    <meta name="description" content="Skigit"/>
    <link rel="image_src" href="{% static 'img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta property="og:site_name" content="Skigit"/>
    <!--        <meta property="fb:app_id" content="120554071328497"/>-->
    <meta property="og:description" content="{{ user.first_name }} {{ user.last_name }}{{ user.username}}"/>

    <meta itemprop="name" content="Skigit" />
    <meta itemprop="description" content="{{ user.first_name }} {{ user.last_name }}{{ user.username}}" />
    <meta itemprop="image" content="img/ico/arabic-media-icon-100x110.jpg' %}" />
    <meta name="description" content=  "Skigit"/>
    <meta name="keywords" content="{{ user.first_name }} {{ user.last_name }}{{ user.username}}" />
    <meta name="rating" content="Skigit"/>
    <meta name="revisit-after" content="1 days"/>
    <meta name="robots" content="index,follow"/>
    <meta name="Author" content="(c) Skigit"/>

    <style>
        .profile-form{font-family:"segoe_print" !important; font-size:13px;}
        .profile-form h3{ color:#000 !important; font-size:18px !important; text-align:center; }
        .profile-form h4{ color:#000 !important; font-size:14px; line-height:20px;  }
        .profile-form h5.note{color:#FF0000 !important; text-align:center; font-size:14px; font-weight:bold; font-family:"LaoUI"; }
        .profile-form .btn{ border-radius:30px !important; -moz-border-radius:30px !important; -webkit-border-radius:30px !important; -o-border-radius:30px !important; font-family:"segoe_print" !important; color:#fff !important;  padding: 5px 25px !important;  }
        .profile-form .btn:hover{  color:#ff0 !important;  }
        .profile-form .btn.yel{ color:#ff0 !important;   }
        .profile-form .btn.yel:hover{  color:#fff !important;  }
        .profile-form .panel{margin-bottom:0px; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; box-shadow: none !important;}
        .profile-form .panel.panel-primary{border:none !important;}
        #enotification_div .profile-form .panel-primary > .panel-heading {   background:#eaeaea !important;     color: #000; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; font-size:15px; font-weight:bold; border-bottom:0 !important; padding:4px 15px;}
        #enotification_div .profile-form .panel-primary > .panel-body{padding:4px 15px;}
        .padd-left{padding-left:15px;}
        .white-back{background:#fff !important;}
    </style>

{% endblock window_page_meta_block %}

{% block head_inline_css_block %}
{% endblock %}

{% block main_video_block %}
{% endblock %}

{% block main_div_block %}
    <div class="row profile mar_zero white-back">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="profile-sidebar">

                    <div class="profile-usermenu padd-left ">
                        <ul class="nav">
                            <li > <a href="{% url 'user_profile' %}">Member Profile </a></li>
			    {% if is_business %}
    			        <li><a href="{% url 'user_payment_setup' %}">Invoice</a></li>
			    {% endif %}
                            <!--<li><a href="{% url 'user_payment_setup' %}">Payment Setup </a></li>-->
                            <li><a href="{% url 'password_change' %}">Password and Email </a></li>
                            <li class="active"><a href="{% url 'user_profile_notifications' %}">Notification Setting </a> </li>
                            <li><a href="{% url 'user_profile_delete' %}">Delete Account </a></li>
                            <li ><a href="{% url 'my_statistics' %}">My Statistic </a></li>


                        </ul>
                    </div>

                </div>
            </div>
            <style>

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 77px;
                    height: 38px;
                }

                .switch input {display:none;}

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: -6px;
						left: -5px;
						right: 0px;
						bottom: 13px;
                   /* background-color: #ccc;*/
                    -webkit-transition: .9s;
                    transition: .9s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                  height: 20px;
					width: 23px;
					left: 10px;
					bottom: 1px;





					/*background-color: white;*/
					background-color: #ffff75;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked + .slider {
                   /* background-color: #2196F3;*/
                }

                input:focus + .slider {
                   /* box-shadow: 0 0 1px #2196F3;*/
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(42px);
                    -ms-transform: translateX(42px);
                    transform: translateX(42px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
.btnslider
{
background: url(../../static/skigit/images/sliderbutton.png) no-repeat !important;
height: 44px !important;
background-size: 100% 100% !important;
width: 91px !important;

}
.btnslider:hover
{
background: url(../../static/skigit/images/sliderbutton.png) no-repeat !important;
 height: 44px !important;
background-size: 100% 100% !important;
width: 91px !important;
}



            </style>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="profile-content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="enotification_div">
                    <div class="row mar_zero profile-form">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
                            <form role="form" action="{% url 'user_profile_notifications' %}" method="post">

                                {% csrf_token %}

                                {% if form1.non_field_errors %}
                                    <div class="row mar_zero">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                {% for err in form1.non_field_errors %}
                                                    <div class="form_error_message">{{ err }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="row mar_zero margin_tb_10">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero margin_top_5">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Notifications Setting</div>
                                            <div class="panel-body">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.like_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.like_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.like_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.like_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.like_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
                                                    {% if form1.follow_un_follow_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd_zero">
                                                            {{ form1.follow_un_follow_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.follow_un_follow_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.follow_un_follow_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.follow_un_follow_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.friends_request_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.friends_request_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.friends_request_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.friends_request_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.friends_request_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.friends_accept_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.friends_accept_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.friends_accept_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.friends_accept_notify }}
                                                           <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.friends_accept_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.plug_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.plug_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.plug_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.plug_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.plug_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.plug_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.un_plug_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.un_plug_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.un_plug_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.un_plug_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                    {% if form1.skigit_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.skigit_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.skigit_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.skigit_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.skigit_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero ">
                                                    {% if form1.share_notify.errors %}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd_zero">
                                                            {{ form1.share_notify.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd_zero">
                                                        <p class="color_555">{{ form1.share_notify.label }}</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <label class="switch">
                                                            {{ form1.share_notify }}
                                                            <div class="slider round">
															<button class="btnslider"  type="button"></button>
															</div>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <label>
                                                            {% if form1.share_notify.value == True %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin_tb_10">
                                        <button type="submit" class="btn yel" name="user_profile_notification_submit">&nbsp;Save&nbsp;</button>
                                        <a onclick="location.href = '/'" class="btn yel">Cancel</a>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
