<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Untitled Document</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700italic" rel="stylesheet" type="text/css"/>
</head>

<body>

<table style="width:100%;" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" style="max-width:550px; margin:0 auto;">
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" style="width:100%">
              <tr>
                <td>

                  <img src="/static/images/logo.png" style="width:70px"/>

                </td>
              </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="width:100%">
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" style="width:100%; color: gray">
                    <tr>
                      <td style="width:80px">

                      </td>
                      <td>
                        <table cellpadding="0" cellspacing="0"
                               style="width:100%; font-size:20px; padding-right: 10px;">
                          <tr>
                            <td style="width:100%; height:35px;">

                            </td>
                          </tr>
                          <tr>
                            <td>
                              <p style="margin:0; text-align:center; font-size: 15px; font-family: 'PT Serif', serif;  font-style: italic;">
                                <strong> Welcome To Skigit</strong>
                              </p>

                            </td>
                          </tr>

                          <tr>
                            <td style="width:100%; height:35px;">

                            </td>
                          </tr>

                          <tr>
                            <td>

                              {#                                                                    <p style="font-size: 14px; text-align: justify; margin: 0">#}
                              {#                                                                        Are you serious? A self-portrait video, typically taken with a hand-held digital camcorder or camera phone? #}
                              {#                                                                        We say “just do it” with your camcorder held at arm’s length or in a mirror, #}
                              {#                                                                        and include either yourself or as many people as can be in focus. But don’t forget to include your awesome thing. #}

                              {#                                                                    </p>#}

                            </td>
                          </tr>

                          <tr>
                            <td style="width:100%; height:35px;">

                            </td>
                          </tr>

                          <tr>
                            <td>
                              <p style="margin:0; font-size: 15px; text-align:center;  font-family: 'PT Serif', serif; font-style: italic;">
                                <strong>
                                  {#                                                                            Thank you for tacking action,#}

                                  <br/>

                                  sine
                                </strong>
                              </p>

                            </td>
                          </tr>


                        </table>

                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
